.THIS .vNavlogoMenu
{
    display: none;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 20px;
    font-size: 16px !important;
    color: #666;
    cursor: default;
}
.THIS .vNavlogoMenu ul
{
    display: flex;
    flex-wrap: wrap;
}
.THIS .vNavlogoMenu ul li
{
    padding: 2px 10px;
}
.THIS .vNavlogoMenu ul li a, .THIS .vNavlogoMenu ul li a:visited, .THIS .vNavlogoMenu ul li a:hover
{
    color: #666;
}
.THIS .vNavlogoMenu .logoimgblock
{
    border-right: 1px solid #ddd;
}
.THIS .vNavLogo
{
    width: 75px;
    height: 16px;
    margin: 4px 0px;
    background: url('https://pandoracommunities.force.com/support/resource/vCommunitySupport/img/pandoralogoblack.png') no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.THIS .vNav
{
    float: left;
    display: block;
    position: inherit;
    z-index: 9999;
    top: 5px;
    left: 5px;
    width: 250px;
    min-height: 300px;
    background: #fff;
    border-right: 1px solid #ccc;
    padding-bottom: 10px;
}
.THIS .vNav-overlay {
    display: none;
    position: fixed;
    z-index:999;
    top:0;
    bottom: 0;
    height:0%;
    width:0%;
    background-color: rgba(0,0,0, 0.5);
}
.THIS .vNav-toggle
{
    display: none;
    position: absolute;
    z-index: 99999;
    top: 10px;
    left: auto;
}
.THIS .vNav-on
{
    display: block !important;
}
.THIS .vNav-list
{
    padding: 10px 0px;
}
.THIS .vNav-list-bordertop
{
    border-top: 1px solid #ddd;
}
.THIS .vNav-mainmenu
{
    margin-top: 0px;
}
.THIS .vNav-communitymenu
{
    display: none;
}
.THIS .vNav-item
{
    display: flex;
    padding: 8px 5px;
    clear: both;
    font-size: 1em;
    font-weight: bold;
}
.THIS .vNav-item a {
    display: block;
    float: left;
    color: #666;
}
.THIS .vNav-item a, .THIS .vNav-item a:hover, .THIS .vNav-item a:link, .THIS .vNav-item a:visited {
    color: #666;
}
.THIS .vNav-item a.vNav-item-icon {
    min-width: 25px;
    max-width: 25px;
    height: 20px;
}
.THIS .menuhidden
{
    display: none;
}
.THIS .menuactivetext
{
    color: #29479e !important;
}
.THIS .menuarticle
{
    font-weight: normal;
}
.THIS .menutopic
{
    background: url('https://pandoracommunities.force.com/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .menuactive
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_active.png') no-repeat;
    background-size: 20px 20px;
    color: #29479e;
    cursor: default;
}
.THIS .menutopicexpand
{
    background: url('https://pandoracommunities.force.com/support/resource/vCommunitySupport/img/icon/nav_arrdown.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .menuback
{
    background: url('https://pandoracommunities.force.com/support/resource/vCommunitySupport/img/icon/nav_arrleft.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .vNav-hamburger
{
    margin: 15px 10px;
    width: 25px;
    height: 20px;
    border:0;
    cursor:pointer;
    outline:none;
    z-index:999999;
    opacity: 0.8;
    background: url('https://pandoracommunities.force.com/support/resource/vCommunitySupport/img/icon/hamburgerwhite.png') no-repeat;
    background-size: 25px 20px;
}
.THIS .vNav-hamburger-on
{
    opacity: 0.5;
    background: url('https://pandoracommunities.force.com/support/resource/vCommunitySupport/img/icon/hamburgerblack.png') no-repeat;
    background-size: 25px 20px;
}
.THIS .completed 
{
    margin: 10px 0px;
}
@media (max-width: 768px)
{
    .THIS .vNavlogoMenu
    {
        z-index: 99999;
    }
    .THIS .vNav 
    {
        display: none;
        position: absolute;
        width: Calc(100% - 10px);
        border: none;
    }
    .THIS .vNav-overlay {
        height:100%;
        width:100%;
    }
    .THIS .vNav-toggle
    {
        display: block;
        left: 10px;
    }
    .THIS .vNav-mainmenu
    {
        margin-top: 50px;
    }
    .THIS .vNav-communitymenu
    {
        display: block;
    }
    .THIS .vNav-item a.vNav-item-icon {
        min-width: 35px;
        max-width: 35px;
        height: 20px;
    }
}