.THIS .vFeaturedArticleMobile
{
    display: none;
}
.THIS .vFeaturedArticleNav-on
{
    display: block !important;
}
.THIS .vFeaturedArticleNav-list
{
    
}
.THIS .vFeaturedArticleNav-list-bordertop
{
    border-top: 1px solid #ddd;
}
.THIS .vFeaturedArticleNav-mainmenu
{
    margin-top: 0px;
}
.THIS .vFeaturedArticleNav-communitymenu
{
    display: none;
}
.THIS .vFeaturedArticleNav-item
{
    display: flex;
    padding: 8px 5px;
    clear: both;
    font-size: 1em;
    font-weight: bold;
}
.THIS .vFeaturedArticleNav-item a {
    display: block;
    float: left;
    color: #666;
}
.THIS .vFeaturedArticleNav-item a, .THIS .vFeaturedArticleNav-item a:hover, .THIS .vFeaturedArticleNav-item a:link, .THIS .vFeaturedArticleNav-item a:visited {
    color: #666;
}
.THIS .vFeaturedArticleNav-item a.vFeaturedArticleNav-item-icon {
    min-width: 25px;
    max-width: 25px;
    height: 20px;
}
.THIS .menuhiddenfa
{
    display: none;
}
.THIS .menuactivetextfa
{
    color: #29479e !important;
}
.THIS .menuarticlefa
{
    font-weight: normal;
}
.THIS .menutopicfa
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .menuactivefa
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_active.png') no-repeat;
    background-size: 20px 20px;
    color: #29479e;
    cursor: default;
}
.THIS .menutopicexpandfa
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrdown.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .menubackfa
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrleft.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .menucontactus, .THIS .menucontactus:hover, .THIS .menucontactus:visited, .THIS .menucontactus:link
{
    color: #0a1dd5 !important;
}
@media (max-width: 768px)
{
    .THIS .vFeaturedArticleMobile
    {
    	display: block;
    }
}