/* fileUpload2.css is identical */
.THIS.notUploading {
    visibility: hidden;
}

.THIS.uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS.small-spinner {
    height: 20px;
    width: 20px;
}

.THIS.file {
    margin-bottom: 5px;
    display: block;
}