.THIS .vFeaturedArticleGrid
{
    margin-left: 250px;
    display: block;
}
.THIS .vFeaturedArticleGrid-block 
{
    display: inline-flex;
    margin: 0px 35px;
}
.THIS .vFeaturedArticleGrid-title
{
    margin: 10px 10px;
}
.THIS .vFeaturedArticleGrid-body
{
        
}
.THIS .vFeaturedArticleGrid-breadcrumb
{
    
}
.THIS .vFeaturedArticleGrid-breadcrumb ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vFeaturedArticleGrid-breadcrumb li
{
    margin: 10px 10px;
    padding-left: 30px;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .vFeaturedArticleGrid-breadcrumb li.firstnode
{
    padding-left: 0px;
    background: none;
}
.THIS .vFeaturedArticleGrid-breadcrumb, .THIS .vFeaturedArticleGrid-breadcrumb a, .THIS .vFeaturedArticleGrid-breadcrumb a:hover, .THIS .vFeaturedArticleGrid-breadcrumb a:visited
{
    color: #999;
    text-decoration: none;
}
.THIS .vFeaturedArticleGrid-breadcrumb a:hover
{
    color: #666;
}
.THIS ul.vFeaturedArticleGrid-items
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS ul.vFeaturedArticleGrid-items li
{
    width: 185px;
    margin: 15px 15px;
    border: none;
}
.THIS ul.vFeaturedArticleGrid-items li div
{
    display: inline-flex;
    padding: 0px;
}
.THIS ul.vFeaturedArticleGrid-items li img
{
	margin-left: 0px;
    width: 185px;
    height: 185px;
}
.THIS ul.vFeaturedArticleGrid-items .item-desc
{
    margin: 15px 0px;
    width: 100%;
}
.THIS ul.vFeaturedArticleGrid-items a, .THIS ul.vFeaturedArticleGrid-items a:hover, .THIS ul.vFeaturedArticleGrid-items a:link, .THIS ul.vFeaturedArticleGrid-items a:visited
{
    color: #666;
}
@media (max-width: 768px)
{
    .THIS .vFeaturedArticleGrid
    {
        display: none;
    }
    /*
    .THIS .vFeaturedArticleGrid
    {
        margin-left: 0px;
    }
    */
}
/*
@media (max-width: 400px)
{
    .THIS .vFeaturedArticleGrid-title
    {
        margin: 10px 20px;
    }
    .THIS .vFeaturedArticleGrid-breadcrumb
    {
        margin: 10px 20px;
    }
    .THIS .vFeaturedArticleGrid-block 
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .THIS ul.vFeaturedArticleGrid-items li
    {
        width: 100%;
        margin: 0px;
        border-top: 1px solid #ccc;
    }
    .THIS ul.vFeaturedArticleGrid-items li div
    {
        padding: 10px 10px;
    }
    .THIS ul.vFeaturedArticleGrid-items li img
    {
		margin-left: 10px;
        width: 80px;
        height: 80px;
    }
    .THIS ul.vFeaturedArticleGrid-items .item-desc
    {
    	margin: 0px;
        width: Calc(100% - 120px);
        vertical-align: middle;
    }
}
*/