.THIS .vHeader
{
    height: 250px;
}
.THIS .vNavlogoMenu
{
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: #eee;
    cursor: default;
}
.THIS .vNavlogoMenu ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vNavlogoMenu ul li
{
    padding: 2px 10px;
}
.THIS .vNavlogoMenu ul li a, .THIS .vNavlogoMenu ul li a:visited, .THIS .vNavlogoMenu ul li a:hover
{
    color: #fff;
}
.THIS .vNavlogoMenu .logoimgblock
{
    border-right: 1px solid #fff;
}
.THIS .vNavLogo
{
    width: 75px;
    height: 16px;
    margin: 4px 0px;
    background: url('/support/resource/vCommunitySupport/img/pandoralogo.png') no-repeat;
    background-size: contain;
}
.THIS .vNavCommunityMenu
{
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: #eee;
}
.THIS .vNavCommunityMenu ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vNavCommunityMenu ul li
{
    padding: 2px 10px;
}
.THIS .vNavCommunityMenu ul li a, .THIS .vNavCommunityMenu ul li a:visited, .THIS .vNavCommunityMenu ul li a:hover
{
    color: #fff;
}
.THIS .vHeaderContainer
{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.THIS .vHeaderTop
{
    height: 50px;
}
.THIS .vHeaderBottomCurve
{
    /*
    width: Calc(100% + 60px);
    height: 40px;
    position: absolute;
    z-index: 99;
    top: 230px;
    left: -30px;
    right: -30px;
    background: #fff;
    border-radius: 100% 100% 0 0;
    */
    
    position: absolute;
    z-index: 99;
    top: 222px;
    width: 100%;
    height: 30px;
    background: url('/support/resource/vCommunitySupport/img/supportheadercurve.png') no-repeat 0px 100%;
    background-size: 100% 30px;
    
}
.THIS .vHeaderSearch
{
    text-align: center;
    padding-top: 50px;
}
.THIS .searchBox
{
    width: 80%;
    padding: 5px;
    border-radius: 100px;
	text-align: center;
    font-size: 22px;
    color: #fff;
    background: rgba(255,255,255, 0.2);
    border: none;
}
.THIS .searchBox:focus
{
    color: rgba(255,255,255, 0.7);
    background: rgba(255,255,255, 0.2);
    border: none;
}
.THIS .searchBox::-webkit-input-placeholder 
{
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    color: rgba(255,255,255, 0.7);
}
.THIS .searchBox:focus::-webkit-input-placeholder 
{
    color: transparent;
}
.THIS .searchBox:-moz-placeholder 
{ /* Firefox 18- */
    text-align: center; 
    font-size: 22px;
    font-weight: 100;
    color: rgba(255,255,255, 0.7);
}
.THIS .searchBox:focus:-moz-placeholder 
{ /* Firefox 18- */
    color: transparent;
}
.THIS .searchBox::-moz-placeholder 
{  /* Firefox 19+ */
    text-align: center; 
    font-size: 22px;
    font-weight: 100;
    color: rgba(255,255,255, 0.7); 
}
.THIS .searchBox:focus::-moz-placeholder 
{  /* Firefox 19+ */
    color: transparent;
}
.THIS .searchBox:-ms-input-placeholder 
{ 
    text-align: center; 
    font-size: 22px;
    font-weight: 100;
    color: rgba(255,255,255, 0.7);
}
.THIS .searchBox:focus:-ms-input-placeholder 
{ 
    color: transparent;
}
@media (max-width: 768px)
{
    .THIS .vNavCommunityMenu
    {
        display: none;
    }
}
@media (max-width: 1080px)
{
    .THIS .vHeaderBottomCurve
    {
        position: absolute;
        z-index: 99;
        top: 222px;
        width: 100%;
        height: 30px;
        background: url('/support/resource/vCommunitySupport/img/supportheadercurve.png') no-repeat 0px 100%;
        background-size: 100% auto;
    }
}