.THIS .vPageHeadline
{
    margin-left: 250px;
}
.THIS .vPageHeadline-block 
{
    display: inline-flex;
    margin: 0px 35px;
}
.THIS .vPageHeadline-title
{
    
}
.THIS .vPageHeadline-breadcrumb
{
    
}
.THIS .vPageHeadline-breadcrumb ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vPageHeadline-breadcrumb li
{
    margin: 10px 0px;
    padding-left: 30px;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .vPageHeadline-breadcrumb li.firstnode
{
    padding-left: 0px;
    background: none;
}
.THIS .vPageHeadline-breadcrumb, .THIS .vPageHeadline-breadcrumb a, .THIS .vPageHeadline-breadcrumb a:hover, .THIS .vPageHeadline-breadcrumb a:visited
{
    color: #999;
    text-decoration: none;
}
.THIS .vPageHeadline-breadcrumb a:hover
{
    color: #666;
}
@media (max-width: 768px)
{
    .THIS .vPageHeadline 
    {
        margin-left: 0px;
    }
}