<apex:page standardController="Account" tabStyle="Account" extensions="ACC_DEL_SendRequestController">
    <apex:sectionHeader title="Account" subtitle="{!Account.Name}" description="Request Delete."/> 
    <apex:form >  

            <apex:pageMessage rendered="{!NOT(ISNULL(Account.Delete_Requested_By__c))}" 
                summary="{!$Label.MesageForDelete}" severity="info" strength="3"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <apex:commandButton action="{!cancel}" value="{!$Label.Ok}" rendered="{!NOT(ISNULL(Account.Delete_Requested_By__c))}"/>   
            <apex:outputPanel rendered="{!NOT(showBlock )}">
                <apex:pageMessage summary="{!$Label.Your_request_has_been_sent}" severity="confirm" strength="3"/>&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;<apex:commandButton action="{!URLFOR($Action.Account.Tab, $ObjectType.Account)}" value="{!$Label.Ok}"/>
            </apex:OutputPanel>

            <apex:pageBlock title="Send Request" rendered="{!ISNULL(Account.Delete_Requested_By__c)&&(showBlock )}">
                <apex:pageBlockSection columns="1">
                    <apex:pageMessage summary="{!$Label.Message}" severity="info" strength="1"/>
                </apex:pageBlockSection> 
                <apex:pageBlockButtons >
                    <apex:commandButton action="{!save}" value="Send Request" />
                    <apex:commandButton action="{!cancel}" value="Cancel" />
                </apex:pageBlockButtons>
                <apex:pageBlockSection columns="1">  
                        <apex:outputField value="{!Account.Name}"/>
                    <apex:pageBlockSection columns="1">
                        <apex:pageMessage summary="If accounts need to be merged please supply existing account to be merged with." 
                            severity="info" strength="1"/>
                    </apex:pageBlockSection> 
                    <apex:inputField value="{!Account.Merge__c}"/>                  
                </apex:PageBlockSection> 
            </apex:pageBlock>    
                    
    </apex:form>
</apex:page>