<!-- Create Bulk Gift Code Page -->
<apex:page controller="ATG_AgencyAccountSummaryController" showHeader="false" sidebar="false"  showQuickActionVfHeader="false"  docType="html-5.0">
    <style>
.default-bg-overlay {
    background: white none repeat scroll 0 0 !important;
}

.siteforceNapiliBody .cNavBarCon {
    background-color: #009cde;
}
.forceCommunityNavigationMenu {
    border-top: 1px solid #aaaaaa;
    background: rgba(0, 0, 0, 0);
}

 .slds-truncate{
       text-overflow: unset !important; 
       white-space: normal !important;
  } 
  
    </style>
   <html
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">

      <head>
        <apex:includeScript value="https://code.jquery.com/jquery-1.11.1.min.js"/>
         <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <!--<script src="{!URLFOR($Resource.jquery_all, 'jquery-1.12.0.min.js')}" ></script>-->
         <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
         <!-- TODO : Replace the CDN with static resource -->

         <link rel="stylesheet" href="https://www.orangehilldev.com/jstree-bootstrap-theme/demo/assets/dist/themes/proton/style.css" />
          <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/bootstrap.min.css')}"/>
      <!-- Required - Form style -->
           <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/flat-form.css')}"/>
           <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/page-style-test.css')}"/>
         <style>
            body {
            margin: 0;
            padding: 0;
            }

            .required {
              padding-left: .125rem;
              color: rgb(194, 57, 52);
            } 


           
         </style>
         <script>
            var $ = jQuery.noConflict();
            var contactId = "{!$User.ContactId}";
            var currentUserId = "{!$User.Id}";
            var respToken;

            try{ 

              if(currentUserId==undefined || currentUserId=='' || contactId==''){
                  top.location='https://pandora10-pandoraforbrands.cs30.force.com/ads/s/login';
              }
                
                //
                
            }
            catch(e){ 
                        top.location='https://pandora10-pandoraforbrands.cs30.force.com/ads/s/login';
                    }
            
         </script>

         
        


      </head>
      <body>
      <atsbody>

         <apex:pageMessages id="errormsgId"  />
         <apex:slds />

         <div class="slds-scope slds-is-relative">
            

            <div id="statusDivId" style="display:none;">
                
                   <div class="slds-spinner_container">
                      &nbsp;
                   </div>
                   <div class="slds-spinner slds-spinner--medium" aria-hidden="false" role="alert">
                      <div class="slds-spinner__dot-a"></div>
                      <div class="slds-spinner__dot-b"></div>
                   </div>
                
             </div>
            <!-- Page Header Begins-->
            

           <div style="padding-bottom: 30px;padding-top: 5px"><atsh1 >Manage Campaigns</atsh1></div>
           <div class="price-list" style="padding: 1px;margin-bottom: -40px"> <legend> &nbsp;</legend></div>
           

            <!-- Page Header Ends class="slds-p-around--large"
                  class="slds-p-top--medium"

                  class="slds-box"
            -->

            <div >
               
               <apex:form id="AddProductTable">              
                
               <div >
               <!--<div class="slds-page-header">
                   <p class="slds-text-title--caps slds-line-height--reset"><img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/product_item_60.png')}" style="background-color: green; height: 20px;width: 20px;" alt="contact" /> <b>Campaigns</b></p>
               </div>--> 

               <div class="inputContainer" >
                                    
                                   <!-- <atsh4>Select Advertiser</atsh4>
                                    
                                    <div style="width:80%">
                                    <c:SLDSLookUpComp SObjectName="AccountPartner"  Filter=" AND AccountFromId = \'{!accountId}\'"/>
                                    </div>
                                    <apex:commandButton tabindex="1" id="advertiser-btn" value="Select Advertiser"  styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="statusId" reRender="campaigns" onClick="continueAction($('#selectedValHiddenAccountPartner').val());"/>-->
                                    
                                    
               </div>
                
                  <div  style="border:none;padding-top:30px">
                     <!-- Grid Begins -->                  
						<apex:actionFunction name="deleteCampaign" action="{!deleteCampaignAction}" reRender="AddProductTable" >
						<apex:param name="campignToDel" assignTo="{!campaignIdtoDel}" value=""/>
						</apex:actionFunction>         
						<apex:actionFunction name="sort" action="{!sortCampaigns}" reRender="campaigns" >
						<apex:param name="sortParam" assignTo="{!sortParam}" value=""/>
						</apex:actionFunction> 
					                
                        
                         <!--<apex:actionFunction name="getNewSelectList" action="{!getListProdAction}" rerender="AddProductTable" /> -->
                        <apex:outputPanel id="campaigns">
                        <table id="campaignGrid" class="slds-table slds-table--bordered slds-table--cell-buffer">
                           <thead>
                              <tr class="slds-text-title--caps">
                                 <th scope="col">
                                    <div title="Products" class="control-label" style="font-weight: bold;">Campaign Name  </div>
                                    
                                 </th>
                                 <th scope="col">
                                    <div class="control-label" style="font-weight: bold;" title="Quantity"><a href="#" onclick="sort('SBQQ__Account__r.Name');">Account</a> </div>
                                    
                                 </th>
                                 <th scope="col">
                                    <div class="control-label"  style="font-weight: bold;" title="Start Date"><a href="#" onclick="sort('SBQQ__StartDate__c');">Start Date </a></div>
                                    
                                 </th>
                                 <th scope="col">
                                    <div class="control-label" style="font-weight: bold;"  title="End Date"><a href="#" onclick="sort('SBQQ__EndDate__c');">End Date</a> </div>

                                 </th>
                                 <th scope="col">
                                    <div class="control-label" style="font-weight: bold;"  title="Sales Price">Budget</div>
                                 </th>
                                 <th scope="col">
                                    <div class="control-label" style="font-weight: bold;"  title="Sales Price"><a href="#" onclick="sort('ATG_Campaign_Status__c');">Status</a></div>
                                 </th>
                                 
                                 <th scope="col">
                                    <div class="control-label" style="font-weight: bold;"  title="action">Action</div>
                                 </th>
                              </tr>
                           </thead>
                           <tbody id="AddProductsBodyId">
                             
                              <apex:actionRegion >
                               
                                <!--<apex:actionFunction name="redirectToEditPage" action="{!redirectToEditPageAction}" >
                                    <apex:param  name="quoteId" value="" />
                                </apex:actionFunction>

                              <apex:repeat value="{!wrapperLst}" rendered="{!counterVariable != 0 }" var="wrapperVar">-->
                              <apex:repeat value="{!quoteListToShow}" rendered="true" var="q">
                                  
                                   <tr>
                                     <th scope="row" data-label="Product">
                                        <div class="slds-truncate control-label" title="Products"  >

                                          <apex:outputtext >{!q.ATG_Campaign_Name__c}</apex:outputtext>

                                           <!--<apex:outputLabel rendered="true" > 



                                           <a href='/apex/ATG_QuoteSummary?QID={!q.Id}'>{!q.ATG_Campaign_Name__c}</a></apex:outputLabel>-->
                                        </div>
                                     </th>
                                     <th scope="atsrow" data-label="Account">
                                        <div class="slds-truncate control-label" title="Quantity">
                                            <apex:outputLabel rendered="true" > {!q.SBQQ__Account__r.Name}</apex:outputLabel>                                       
                                        </div>
                                      </th>
                                      <th scope="row" data-label="Start Date">
                                        <div class="control-label" title="Start Date">
                                           <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                <apex:param value="{!q.SBQQ__StartDate__c}" /> 
                                           </apex:outputText>
                                                                                      
                                        </div>
                                      </th>
                                      <th scope="row" data-label="End Date">
                                        <div class="control-label" title="End Date">
                                           <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                <apex:param value="{!q.SBQQ__EndDate__c}" /> 
                                           </apex:outputText>
                                           
                                        </div>
                                      </th>
                                      <th scope="row" data-label="Budget">
                                        <div class="control-label" title="Budget">
                                           <apex:outputLabel rendered="true" > $ {!q.ATG_BudgetTotal__c}</apex:outputLabel>  
                                        </div>
                                      </th>
                                      <th scope="row" data-label="Status">
                                        <div class="control-label" title="Status">
                                           <apex:outputLabel rendered="true" > {!q.ATG_Campaign_Status__c}</apex:outputLabel>  
                                        </div>
                                      </th>


                                     <th scope="row" data-label="Action" align="center">
                                        

                                        <div style="display:{!if((q.ATG_Campaign_Status__c=='Completed' || q.ATG_Campaign_Status__c=='Closed' || q.ATG_Campaign_Status__c=='Cancelled' || q.ATG_Campaign_Status__c=='Submitted'),'none;','block;')}"> 
                                            
                                             <apex:outputLink value="/apex/ATG_QuoteSummary?QID={!q.Id}"  > <img src="{!URLFOR($Asset.SLDS, 'assets/icons/utility/edit_60.png')}" style="height: 21px;width: 21px;" alt="help" /></apex:outputLink>

                                             &nbsp; &nbsp;

                                             
                                             <apex:commandlink rendered="{!q.ATG_Campaign_Status__c!='Approved'}"  action="{!deleteCampaignAction}" rerender="errormsgId" > <img src="{!URLFOR($Asset.SLDS, 'assets/icons/utility/delete_60.png')}" style="height: 21px;width: 21px;" alt="help"/> 
                                             <apex:param name="campignToDel" assignTo="{!campaignIdtoDel}" value="{!q.Id}"/>
                                            </apex:commandlink>

                                        </div>

                                        

                                     </th>
                                    
                                  </tr> 
                              
                              </apex:repeat>
                              	<div class="row" style="width: 100%;bottom: 0;text-align: right;">
                             	
                          		</div>
                              </apex:actionregion>
                           </tbody>
                        </table>
                        </apex:outputPanel>
                        
                     </div>


                     <div class="row" style="width: 100%;bottom: 0;">
                          
                           <div class="col-md-6" style="width: 30%;bottom: 0;text-align: left;">
                          

                           <apex:commandButton value="New Campaign" action="{!NewCampaign}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" onclick="$('#statusDivId').show();"/>
                           
                            
                           </div>
                           <div class="col-md-6" style="width: 70%;bottom: 0;text-align: right;">
								<!--<apex:commandButton value="<< previous" action="{!previous}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" />
								<apex:commandButton value="next >>" action="{!next}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" />-->
								  <apex:commandButton value="First" action="{!beginning}" disabled="{!DisablePrevious}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" />
					              <apex:commandButton value="<< Previous" action="{!previous}" disabled="{!DisablePrevious}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" />
					              
					              <apex:commandButton value="Next >>" action="{!next}" disabled="{!DisableNext}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" />
					              <apex:commandButton value="Last" action="{!last}" disabled="{!DisableNext}" styleClass="slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px" status="Status" />            

                           </div>
                           
                      </div>
                    
                   <!-- <div align="center" class="slds-p-top--medium" id="CreateProductButtonId" draggable="false" >
              
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                    </div> -->                 
               </div>
               </apex:form>
               </div>
               </div>
               

            
         
         <!--</apex:form>-->
      </atsbody>
      </body>
      
   </html>
</apex:page>