<apex:page standardController="Account" title="Bad Debts/Refunds" extensions="BadDebtsController"  tabStyle="Account">
    <apex:outputPanel id="List" layout="block">
        <apex:pageBlock mode="maindetail">
            <apex:pageBlockSection columns="1">
                <apex:outputPanel id="MessagePanel">
                    <apex:pageMessages /> 
                </apex:outputPanel>
                <apex:form >
                    <apex:pageBlockTable value="{!baddebtsList}" var="badd">  
                        <apex:column >
                            <apex:facet name="header">Name</apex:facet>
                            <apex:outputLink value="http://na2.salesforce.com/{!badd.id}">{!badd.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Client</apex:facet>
                            <apex:outputField value="{!badd.Advertiser__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Agency</apex:facet>
                            <apex:outputField value="{!badd.Invoice_Number_lu__r.c2g__Account__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Status</apex:facet>
                            <apex:outputField value="{!badd.Status__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Record Type</apex:facet>
                            <apex:outputField value="{!badd.RecordType.Name}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Amount</apex:facet>
                            <!-- <apex:outputField value="{!badd.Bad_Debt_Amount_Invoice_Amount__c}" /> -->
                            <apex:outputField value="{!badd.Write_off_Amount__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Last Modified Date</apex:facet>
                            <apex:outputField value="{!badd.LastModifiedDate}" />
                        </apex:column>
                    </apex:pageBlockTable>
                    <br />
                </apex:form>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:outputPanel>
</apex:page>