<apex:page standardController="Cert_Tool_Employee__c"
    recordSetVar="Employees"
    extensions="CERT_TOOL_CreateEmpCertification"
    showHeader="true">
    <apex:sectionHeader title="Pandora's Certification Tool System" description="Select the Certification to send to the Employees listed below."/>
    <apex:form >
       <apex:pageMessage rendered="{!errorFlag}" summary="{!msgInfo}" severity="error" strength="3" />
       <apex:pageMessage rendered="{!msgFlag }" summary="{!msgInfo}" severity="confirm" strength="3" />
       
       <apex:commandButton action="{!URLFOR($Action.Cert_Tool_Employee__c.Tab, $ObjectType.Cert_Tool_Employee__c)}" value="{!$Label.LEGAL_CERT_Ok}" rendered="{!(showButton)}"  style="margin-left:50px;"/> 
    </apex:form>
    <apex:form rendered="{!(NOT(msgFlag))&&(NOT(errorFlag))}">
        <apex:pageBlock >
            <apex:pageBlockSection >
                    <apex:inputField value="{!ec.Certification__c}" />
            </apex:pageBlockSection>
            <apex:pageBlockTable value="{!selected}" var="emp">
                <apex:column value="{!emp.Name}" />
                <apex:column value="{!emp.Department__c}" />
                <apex:column value="{!emp.Email__c}" />
                <apex:column value="{!emp.Executive_name__c}" />
                <apex:inputHidden value="{!emp.Employee_ID__c}" />
            </apex:pageBlockTable>
            <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Submit" action="{!doSave}" />
                <apex:commandButton value="Cancel" action="{!URLFOR($Action.Cert_Tool_Employee__c.Tab, $ObjectType.Cert_Tool_Employee__c)}" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>