<apex:page sidebar="false" showHeader="false" controller="ClaimPromoCodeController" >
    <apex:slds />
    <div class="slds-scope slds-is-relative">
        
        <div class="slds-page-header" role="banner">
           <div class="slds-media slds-media--center">
              <div class="slds-media__figure">
                 <!--<svg class="slds-icon slds-icon-standard-opportunity" aria-hidden="true">-->
                 <img src="{!URLFOR($Asset.SLDS, 'assets/icons/custom/custom81_60.png')}" style="background-color: darkmagenta;height: 30px; width: 30px;" alt="help" />
              </div>
              <div class="slds-media__body">
                 <p class="slds-page-header__title slds-truncate" >90-Day Free Trial Premium for Employee Family and Friends </p>
              </div>
           </div>
        </div>
        
        <apex:pageMessages id="msgId" /> 

        <apex:form id="formId">   
        <div class="slds-grid slds-grid_align-center slds-grid_vertical-align-center">
        <div class="slds-size_1-of-5">
        </div>
        <div class="slds-size_3-of-5">
        <div class="slds-box" style="margin-top:150px">

        
        <div class="slds-media slds-media--center" >
              <div class="slds-media__figure">
                 <!--<svg class="slds-icon slds-icon-standard-opportunity" aria-hidden="true">-->
                 <img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/user_60.png')}" style="background-color: cornflowerblue;height: 25px;width: 25px;" alt="help" />
              </div>
              <div class="slds-media__body">
                <div class="slds-page-header__title slds-truncate"> <h1> Hello {!$User.FirstName} {!$User.LastName} </h1> </div>
              </div>
           </div>  
        
         
         <br/>

         <div id="instruction-Div">
           <b><i> 
            To get your 90-day payment backed free trial Premium codes, enter the number of codes desired in the field below.  Each employee is allowed up to 5 codes to share with friends and family.  Once you submit the request, you will receive an automated email with code redemption instructions.  Check the subscription code terms in the email to ensure the Pandora account is eligible for this offer.  If you have any issues/questions, reach out to Help@pandora.com.  Enjoy and happy sharing!
            </i></b>

         </div>
         <br/><br/>
         <div align="center">
              <apex:outputPanel rendered="{!Items.size > 0}">
              <label>No of Promo code</label>   &nbsp;  &nbsp; &nbsp; &nbsp; 
              <apex:selectList value="{!requestedCodeInt}" size="1" style="width: 50px;" label="No of Promo Code" styleCLass="slds-picklist" multiselect="false">
                  <apex:selectOptions value="{!Items}"/>
              </apex:selectList>             
              </apex:outputPanel>
              <apex:outputPanel rendered="{!Items.size == 0}">
               <b> <apex:outputLabel value="You have already reached your code limit" /> </b>
              </apex:outputPanel>
         </div>

         <apex:actionFunction name="allotPromoCode" action="{!allotPromoCodeAction}" reRender="formId,msgId" />

         <div align="center" class="slds-p-top--medium" id="CreateProductButtonId" draggable="false" >
                <apex:outputPanel rendered="{!Items.size > 0}">
                  <input type="Button" onClick="allotPromoCode();" value="Submit Form"  class="slds-button slds-button--brand" />           
                </apex:outputPanel>     
          </div>

          </div>
          </div>
          <div class="slds-size_1-of-5">
          </div>
          </div>
         </apex:form> 
          
    </div>
    <script>
        

        function isValidNumber(evt,val) {
            console.log('inside isValidNumber method .. ');
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                console.log('invalid');
                return false;
            }
             
             return true;
        }

    </script>
</apex:page>