<!-- Create Bulk Gift Code Page -->
<apex:page controller="CreateBulkGiftCodeOpptyCtrlr" showHeader="false" sidebar="false"  showQuickActionVfHeader="false"  docType="html-5.0">
   <html
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <head>
         <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <!--<script src="{!URLFOR($Resource.jquery_all, 'jquery-1.12.0.min.js')}" ></script>-->
         <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
         <!-- TODO : Replace the CDN with static resource -->
         <style>
            body {
            margin: 0;
            padding: 0;
            }

            .required {
              padding-left: .125rem;
              color: rgb(194, 57, 52);
            }                        
           
         </style>
         <script>
            var $ = jQuery.noConflict();
         </script>
      </head>
      <body>
         <apex:slds />

         <div class="slds-scope slds-is-relative">
            

            <apex:actionStatus id="status">
                <apex:facet name="start">
                   <div class="slds-spinner_container">
                      &nbsp;
                   </div>
                   <div class="slds-spinner slds-spinner--medium" aria-hidden="false" role="alert">
                      <div class="slds-spinner__dot-a"></div>
                      <div class="slds-spinner__dot-b"></div>
                   </div>
                </apex:facet>
             </apex:actionStatus>
            <!-- Page Header Begins-->
            <div class="slds-page-header" role="banner">
               <div class="slds-media slds-media--center">
                  <div class="slds-media__figure">
                     <!--<svg class="slds-icon slds-icon-standard-opportunity" aria-hidden="true">-->
                     <img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/opportunity_60.png')}" style="background-color: darkmagenta; height: 30px;width: 30px;" alt="help" />
                  </div>
                  <div class="slds-media__body">
                     <p class="slds-page-header__title slds-truncate" >Promo Code Request Form</p>
                  </div>
               </div>
            </div>
            <!-- Page Header Ends -->

            <div class="slds-p-around--large">
               <apex:form id="formid">
                  <apex:pageMessages id="AddOpptyFormId" />
                  <actionRegion>
                     
                     <!-- Grid 2 begins -->
                     <div class="slds-page-header">
                       
                       <p class="slds-text-title--caps slds-line-height--reset"><img src="{!URLFOR($Asset.SLDS, 'assets/icons/action/add_contact_60.png')}" style="background-color: green; height: 20px;width: 20px;" alt="contact" />
                       <b>Primary Details</b></p>
                    </div>
                     <div class="slds-box ">
                        <div class="slds-grid">
                           <div class="slds-col">
                            <div class="slds-grid">
                              <div class="slds-col">
                                <c:SLDSLookUpComp SObjectName="Account" SobjectLabel="Account (must exactly match Account name in salesforce)" Filter="{!$Label.Account_Filter_for_Promo_Code_display}" />                            

                                <!-- New Account Link -->
                                <apex:outputLink value="{!URLFOR($Action.Account.New)}" style="margin-left: 16px;" styleClass="slds-button slds-buttonbrand">New Account</apex:outputLink>
                                </div>
                                <div class="slds-col">
                           </div>
                            </div>
                           </div>
                            
                           <div id="contactDiv" class="slds-col">
                             <!-- <c:SLDSLookUpComp SObjectName="Contact" SobjectLabel="Primary Contact"/>-->
                             <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="oppty_val_Id">Overall Opportunity Value</label>                                    
                                    <div class="slds-form-element__control">
                                       <apex:inputField id="oppty_val_Id"  StyleClass="slds-textarea " value="{!opptyObj.Overall_OpptyValue__c}" />
                                       
                                    </div>
                                 </div>

                             <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="inc_sub_val_Id">Incremental Sub Code Media Value</label>                                    
                                    <div class="slds-form-element__control">
                                       <apex:inputField id="inc_sub_val_Id"  StyleClass="slds-textarea " value="{!opptyObj.Incremental_Sub_Value__c}" />
                                       
                                    </div>
                                 </div>
                             
                           </div>
                        </div>
                     </div>
                     <!-- Grid 2 ENDS -->
                     <div class="slds-p-top--medium">
                        <!-- Grid Begins -->
                        <div class="slds-box">
                            <apex:outputPanel id="promocodepanel">
                           <div id="promocodeDiv" class="slds-grid ">
                              <!-- Col 1 -->
                              <div class="slds-col">
                                 <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="promoCodeType">Promo Code Type</label>
                                    <div id="promo-code-help-icon" class="slds-form-element__icon">
                                        <a href="javascript:void(0);">
                                          <img src="{!URLFOR($Asset.SLDS, 'assets/icons/utility/info_60.png')}" style="height: 15px;width: 15px;" alt="contact" />
                                          <span class="slds-assistive-text">Help</span>
                                        </a>
                                      </div>
                                    <span class="required"> * </span>
                                    <div class="slds-form-element__control">
                                       <apex:inputField id="promoCodeType" style="width: 200px;" styleClass="slds-picklist" value="{!opptyObj.Promo_Code_type__c}" required="true" >
                                            <apex:actionSupport event="onchange" 
                                               action="{!checkOptionalFieldsAction}" 
                                               rerender="promocodepanel" status="status" onComplete="populateProductPickListVal();"/>
                                       </apex:inputField>
                                       
                                    </div>
                                    <script>
                                      
                                       $("#promo-code-help-icon").hover(function() {
                                            console.log('inside method');
                                            $("#promo-code-help-text").show();
                                            
                                        }, function() {            
                                            console.log('inside method 2 ');
                                            $("#promo-code-help-text").hide();
                                        });

                                        promoCodeTypeVal = '{!opptyObj.Promo_Code_type__c}';
                                    </script>
                                    <div id="promo-code-help-text" class="slds-popover slds-popover--tooltip slds-nubbin--bottom-left" role="tooltip" aria-live="polite" style="display:none;position:absolute;top:105px;left:150px;margin-left:-1rem;width:20rem;">
                                        <div class="slds-popover__body slds-text-longform">
                                            <p>Trial: Payment-backed trial subscription. Free to partner. (Select Trial SKU Below) </p>
                                            <p>Gift: Prepaid gift subscription. No payment information required by consumer. Compensation required from partner. (Select Gift SKU Below) </p>
                                            <p>Comp: Complimentary subscription for 1 year period for key business partners. Requires management approval and paid for from team budget. (Select Comp SKU Below) </p>                                                                                        
                                        </div>
                                    </div>
                                 </div>
                                 <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="discount_Amount_Id">Discount Percentage</label>
                                    
                                    <div class="slds-form-element__control">
                                       
                                       <apex:inputField rendered="{!isGiftCodeType}" id="discount_Amount_Id"  StyleClass="slds-textarea " value="{!opptyObj.Discount_Amount__c}" />
                                       
                                       <apex:outputText rendered="{!!isGiftCodeType}" value="-- NA -- " />
                                    </div>
                                 </div>

                                 <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="description_Id">Promo Description</label>
                                    <div class="slds-form-element__control">
                                       
                                       <apex:inputField style="width: 60%;" id="description_Id" StyleClass="slds-textarea" value="{!opptyObj.Description}"/>
                                    </div>
                                 </div>

                              </div>
                              <!-- Col 1 Ends -->
                              <!-- Col 2 -->
                              <div class="slds-col">
                                 <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="payment_method">Payment Method</label>
                                    <div class="slds-form-element__control">
                                       
                                       <apex:inputField id="payment_method" rendered="{!isGiftCodeType}" style="width : 200px;" styleClass="slds-picklist" value="{!opptyObj.Payment_Method__c}"/>
                                       
                                       <apex:outputText rendered="{!!isGiftCodeType}" value="-- NA -- " />
                                    </div>
                                    
                                 </div>
                                 <div class="slds-m-right--large slds-m-bottom--xx-large">
                                    <label class="slds-form-element__label" for="discount_reason_Id">Discount Reason</label>
                                    <div class="slds-form-element__control">
                                       
                                       <apex:inputField id="discount_reason_Id" rendered="{!isGiftCodeType}" StyleClass="slds-textarea" value="{!opptyObj.Discount_Reason__c}"/>
                                       
                                       <apex:outputText rendered="{!!isGiftCodeType}" value="-- NA -- " />
                                    </div>
                                 </div>
                              </div>
                              <!-- Col 2 Ends -->
                           </div>
                           </apex:outputPanel>
                        </div>

                     </div>
                     <!-- Grid ENDS -->
                     <!--<div class="slds-p-top--medium">
                          <div class="slds-page-header">
                               <p class="slds-text-title--caps slds-line-height--reset"><img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/address_60.png')}" style="background-color: green; height: 20px;width: 20px;" alt="contact" /> <b>Promo Code Delivery Address</b></p>
                           </div>
                        <div class="slds-box">
                           <!-- Grid Begins              
                           <div class="slds-grid ">
                              <!-- Col 1 -
                              <div class="slds-col slds-m-right--medium">
                                 <label class="slds-form-element__label" for="Billing_Street_Id">Street</label>
                                 <div class="slds-form-element__control">
                                    <apex:inputText id="Billing_Street_Id" StyleClass="slds-input" value="{!billingStreetStr}"/>
                                 </div>
                                 <label class="slds-form-element__label" for="Billing_State_Id">State</label>
                                 <div class="slds-form-element__control">
                                    <apex:inputText id="Billing_State_Id" StyleClass="slds-input" value="{!billingStateStr}"/>
                                 </div>
                              </div>
                              
                              <div class="slds-col slds-m-right--medium">
                                <label class="slds-form-element__label" for="Billing_City_Id">City</label>
                                 <div class="slds-form-element__control">
                                    <apex:inputText id="Billing_City_Id" StyleClass="slds-input" value="{!billingCityStr}"/>
                                 </div>
                                 <label class="slds-form-element__label" for="Billing_Country_Id">Country</label>
                                 <div class="slds-form-element__control">
                                    <apex:inputText id="Billing_Country_Id" StyleClass="slds-input" value="{!billingCountryStr}"/>
                                 </div>
                              </div>
                              
                              <div class="slds-col  slds-m-right--medium">
                                 
                                 <label class="slds-form-element__label" for="Billing_Postal_Code">Postal Code</label>
                                 <div class="slds-form-element__control">
                                    <apex:inputText id="Billing_postal_Code" StyleClass="slds-input" value="{!billingPostalCodeStr}"/>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>-->
                     <apex:actionFunction name="createOppty" action="{!createOpptyAction}" rerender="formid,AddOpptyFormId" status="status">
                        <apex:param name="contactId" value="" assignTo="{!contactIdVar}"/>
                        <apex:param name="accountId" value="" assignTo="{!accountIdVar}"/>
                        <apex:param name="accountName" value="" assignTo="{!accountNameVar}"/>
                     </apex:actionFunction>
                   </actionRegion>
               </apex:form>
               
               <div class="slds-p-top--medium">
               <div class="slds-page-header">
                   <p class="slds-text-title--caps slds-line-height--reset"><img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/product_item_60.png')}" style="background-color: green; height: 20px;width: 20px;" alt="contact" /> <b>Select Promo Codes</b></p>
               </div>               
               
                  <div class="slds-box">
                     <!-- Grid Begins -->                  
                     
                        <apex:form id="AddProductTable">
                         <!--<apex:actionFunction name="getNewSelectList" action="{!getListProdAction}" rerender="AddProductTable" /> -->
                        <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                           <thead>
                              <tr class="slds-text-title--caps">
                                 <th scope="col">
                                    <div class="slds-truncate" title="Products">Products <span class="required"> * </span> </div>
                                    
                                 </th>
                                 <th scope="col">
                                    <div class="slds-truncate" title="Quantity">Quantity <span class="required"> * </span> </div>
                                    
                                 </th>
                                 <th scope="col">
                                    <div class="slds-truncate" title="Start Date">Campaign Start Date <span class="required"> * </span></div>
                                    
                                 </th>
                                 <th scope="col">
                                    <div class="slds-truncate" title="End Date">Campaign End Date <span class="required"> * </span></div>

                                 </th>
                                 <!--<th scope="col">
                                    <div class="slds-truncate" title="Sales Price">Code Expiration Date</div>
                                 </th>-->
                                 <th scope="col">
                                    <div class="slds-truncate" title="action">Action</div>
                                 </th>
                              </tr>
                           </thead>
                           <tbody id="AddProductsBodyId">
                              <tr>
                                 <th scope="row" data-label="Products">
                                    <div class="slds-truncate" title="Products">
                                       <apex:inputHidden value="{!oliToInsert.PricebookEntryId}" id="productSelectHidden"/>
                                       <!--<apex:selectList id="products-select-list" value="{!oliToInsert.PricebookEntryId}"  size="1">
                                          <apex:selectOptions value="{!listAllProd}"/>
                                       </apex:selectList>-->
                                       <select id="products-select-list" size="1" onchange="processSelectList();">
                                       </select>

                                    </div>
                                 </th>
                                 <th scope="row" data-label="Quantity">
                                    <div class="slds-truncate" title="Quantity">
                                       <apex:inputField id="Quantity" value="{!oliToInsert.Quantity}" />
                                    </div>
                                 </th>
                                 <th scope="row" data-label="Start Date">
                                    <div class="slds-truncate" title="Start Date">
                                       <apex:inputField id="startDateId"  value="{!oliToInsert.ServiceDate}" />
                                    </div>
                                 </th>
                                 <th scope="row" data-label="End Date">
                                    <div class="slds-truncate" title="End Date">
                                       <apex:inputField id="EndDateId"  value="{!oliToInsert.End_Date__c}" />
                                    </div>
                                 </th>
                                 <!--<th scope="row" data-label="Code Expiration Date">
                                    <div class="slds-truncate" title="Code Expiration Date">
                                       <apex:inputField id="ExpirationDateId" value="{!oliToInsert.Product_Expiration_Date__c}" />
                                    </div>
                                 </th>-->
                                 <th scope="row" data-label="Action" align="center">
                                    <apex:actionFunction action="{!AddOLIAction}" id="AddOLI" name="AddOLIAction" onComplete="populateProductPickListVal()" rerender="AddProductTable"/>
                                     <div onclick="AddOLIAction();"> 
                                        <img src="{!URLFOR($Asset.SLDS, 'assets/icons/utility/new_60.png')}" style="height: 21px;width: 21px;" alt="help" />
                                     </div>
                                    <!--<apex:commandButton  onClick="saveOLIAction();return false;" class="slds-button slds-buttonbrand" >Add
                                    </button>-->
                                 </th>                                 
                              </tr>
                              
                              <apex:actionRegion >
                               <apex:actionFunction action="{!RemoveOLIAction}" immediate="true" name="RemoveOLI" onComplete="populateProductPickListVal()" rerender="AddProductTable">
                                          <apex:param assignTo="{!recordToRemove}" name="paramToDel" value="" />
                                        </apex:actionFunction>

                              <apex:repeat value="{!wrapperLst}" rendered="{!counterVariable != 0 }" var="wrapperVar">
                                  <!-- -->
                                   <tr style="{!IF(wrapperVar.oliVar.PricebookEntryId != null,'','display:none')}" >
                                     <th scope="row" data-label="Products">
                                        <div class="slds-truncate" title="Products">
                                           <apex:outputLabel rendered="{!wrapperVar.oliVar.PricebookEntryId != null}" > {!productIdToNameMap[wrapperVar.oliVar.PricebookEntryId]}</apex:outputLabel>
                                        </div>
                                     </th>
                                     <th scope="row" data-label="Quantity">
                                        <div class="slds-truncate" title="Quantity">
                                            <apex:outputText value="{0,number,#,##0}">    
                                               <apex:param value="{!wrapperVar.oliVar.Quantity}"/>
                                            </apex:outputText>                                          
                                        </div>
                                     </th>
                                     <th scope="row" data-label="Start Date">
                                        <div class="slds-truncate" title="Start Date">
                                           <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                <apex:param value="{!wrapperVar.oliVar.ServiceDate}" /> 
                                           </apex:outputText>
                                                                                      
                                        </div>
                                     </th>
                                     <th scope="row" data-label="End Date">
                                        <div class="slds-truncate" title="End Date">
                                           <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                <apex:param value="{!wrapperVar.oliVar.End_Date__c}" /> 
                                           </apex:outputText>
                                           
                                        </div>
                                     </th>
                                     <!--<th scope="row" data-label="Code Expiration Date">
                                        <div class="slds-truncate" title="Code Expiration Date">
                                           <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                <apex:param value="{!wrapperVar.oliVar.Product_Expiration_Date__c}" /> 
                                           </apex:outputText>
                                        </div>
                                     </th>-->
                                     <th scope="row" data-label="Action" align="center">
                                        <!--<apex:commandButton action="{!RemoveOLIAction}" immediate="true" value="Remove" id="AddOLIButton" styleClass="slds-button slds-buttonbrand " onComplete="populateProductPickListVal()" rerender="AddProductTable">
                                          <apex:param assignTo="{!recordToRemove}" name="paramToDel" value="{!wrapperVar.seqNo}"/>
                                        </apex:commandButton>-->

                                        <div onclick="RemoveOLI({!wrapperVar.seqNo});"> 

                                             <img src="{!URLFOR($Asset.SLDS, 'assets/icons/utility/delete_60.png')}" style="height: 21px;width: 21px;" alt="help" />
                                        </div>

                                     </th>                                 
                                  </tr> 
                              
                              </apex:repeat>
                              </apex:actionregion>
                           </tbody>
                        </table>
                        </apex:form>
                     </div>
                  
               </div>
               <div align="center" class="slds-p-top--medium" id="CreateProductButtonId" draggable="false" >
                  <input type="Button" onClick="invokeCreateOppty();" value="Submit Form"  class="slds-button slds-button--brand" />
                  <input type="Button" onClick="cancelForm();" value="Cancel"  class="slds-button slds-button--brand" />
               </div>
               
               </div>
               </div>
               

            
         
         <!--</apex:form>-->
      </body>
      <script>
         var promoCodeTypeVal = '{!opptyObj.Promo_Code_type__c}'; 
         function invokeCreateOppty(){
             
             console.log('inside b4'+$('#selectedValHiddenContact').val()+' '+$('#selectedValHiddenUser').val()+' '+$('#selectedValHiddenAccount').val()+' '+$('#selectedValHiddenNameAccount').val());
             $(window).scrollTop(0);
             createOppty($('#selectedValHiddenContact').val(),$('#selectedValHiddenAccount').val(),$('#selectedValHiddenNameAccount').val());             
             console.log('inside after');        
         }         
         
         function cancelForm(){
            window.location.href='/home/home.jsp'; 
         }
         
         function populateProductPickListVal(){
               $("[id$='products-select-list']").empty();
               Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.CreateBulkGiftCodeOpptyCtrlr.getListProdAction}',
                promoCodeTypeVal,                                                 
                 function(result, event){
                    if (event.status) {
                        console.log(result);
                        var index = 0;
                        $( result ).each(function() {                        
                            console.log(this);
                          if(index == 0) {
                               $("[id$='products-select-list']").append('<option selected="selected" value="'+this.SelectListValue+'">'+this.SelectListLabel+'</option>'); 
                               index++;
                          }else{ 
                             $("[id$='products-select-list']").append('<option value="'+this.SelectListValue+'">'+this.SelectListLabel+'</option>');
                          }
                        });

                        processSelectList();

                    } else if (event.type === 'exception') {
                           
                    } else {
                        
                    }
                }, 
                {escape: true}
                );  
         }
         
         function processSelectList(){           
            $("[id$='productSelectHidden']").val($("[id$='products-select-list']").val());           
         }
      </script>
   </html>
</apex:page>