<apex:page controller="CreditNote_BatchPostController" title="Update/Post Credit Notes" sidebar="false" tabStyle="Batch_Update_Post_Invoices__tab">
    <apex:includeScript value="{!URLFOR($Resource.AT_JqueryUI, 'js/jquery-1.9.1.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AT_JqueryUI, 'js/jquery-ui-1.10.3.custom.min.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.AT_JqueryUI, 'css/cupertino/jquery-ui-1.10.3.custom.min.css')}"/>
    <apex:stylesheet value="/sCSS/21.0/sprites/1297816277000/Theme3/default/gc/versioning.css" />
     
     <apex:tabPanel id="theTabPanel" switchType="ajax" selectedTab="credit_note">    
     <apex:tab label="Sales Invoice" id="tTab1" name="sales_invoice"  ontabenter="window.parent.location.replace('/apex/Invoice_BatchPost');">
     </apex:tab>
     
     <apex:tab label="Credit Note" name="credit_note" id="tTab2"  >
        
     <apex:form id="TheForm">
        <apex:pagemessages ></apex:pagemessages>
        <apex:actionFunction name="callAction" action="{!showCreditNotes}" status="status" reRender="TheForm" oncomplete="buttonsEnabled(true);"/>
        
         
         
        <apex:pageBlock title="Bulk Update/Post Credit Notes!" mode="edit" id="fbp">
        <div style="position: relative;">
            <apex:outputpanel >
            <apex:actionstatus id="statusFilter">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loadingFilter" style="background-color: #fbfbfb;
                           height: 100%;opacity:0.65;width:100%;"> 
                        <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Filtering...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
        </apex:outputpanel>
        <table width="100%" border="0">
          <tr>  
            <td width="200" valign="top">
                <apex:pageblock title="Filter Parameters"  id="vpb"  mode="edit">
                    <table cellpadding="2" cellspacing="2">
                      <tr>
                        <td style="font-weight:bold;">View<br/>
                        <apex:selectList value="{!selectedView}" size="1">
                            <apex:selectOptions value="{!creditNoteView}"/>
                        </apex:selectList>
                        <apex:commandButton value="Go" action="{!showCreditNotes}" reRender="TheForm" status="statusFilter"/>
                        </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <strong><u>Filters Applied</u></strong><br/>
                              <apex:outputPanel id="filterText">
                                  <apex:outputtext escape="false" value="{!filtersApplied}"/>
                              </apex:outputPanel>
                          </td>
                      </tr>
                   </table>
                </apex:pageblock>
                <apex:pageblock mode="edit" id="vpbSCH">
                    <apex:facet name="header">
                    <h2 style="color: #000 !important; font-size: 14px !important;">Auto Scheduler Status: <span style="{!IF(shcStatus == 'OFF', 'color: red !important;', 'color: green !important;')}">{!shcStatus}</span></h2>
                    </apex:facet>
                    <table cellpadding="2" cellspacing="2">
                      <tr>
                          <td colspan="2">
                              <apex:commandButton value="Turn {!IF(shcStatus == 'OFF', 'ON','OFF')}" action="{!toggleSchedulerStatus}" reRender="TheForm" status="statusFilter"/>
                          </td>
                      </tr>
                   </table>
                </apex:pageblock>
             </td>
         <td valign="top">
         <apex:outputPanel id="mpb" >
             <apex:pageBlock title="Credit Notes Found" rendered="{!IF(listCreditNoteWrapper.size > 0 , true , false)}">
                    <div style="position: relative;">
                        <apex:pageBlockButtons location="top" id="pbButtons">
                            <apex:commandButton value="Update/Post Selected" rendered="{!selectedView == 'In Progress' || selectedView == 'Excluded'}" onclick="if(!validateIfChecked()) return false;" disabled="{!disableButton}" reRender="mpb,scriptPanel" status="status" id="updateSel" oncomplete="openDialog('{!$Component.__dialog1}', 'Update Credit Notes', 'dialog1');buttonsEnabled(true);"/>
                            <apex:commandButton value="Post Selected" rendered="{!selectedView == 'Ready to Post'}" action="{!postSelectedCreditNotes}" disabled="{!disableButton}" onclick="if(!validateIfChecked() || !confirm('Once the selected Credit Notes are Posted you will receive success/failure report on your email.\n\nAre you sure you want to Post selected Credit Notes ?')) return false;" reRender="TheForm" status="status" id="postSel" />
                        </apex:pageBlockButtons>
                        <script>
                            function validateIfChecked() {
                                
                                if(j$(".creditNoteSearch:checked").length > 0) {
                                   buttonsEnabled(false);
                                   return true;
                                } 
                                alert("Please select at least one Credit Note!");
                                return false;
                                
                            }
                            
                            function buttonsEnabled(enabled) {
                                // retrieve all of the buttons or links on the page
                                // with the css class of btn
                                var j$buttons = jQuery('.btn');
                                if (enabled === false) {
                                    // add the btnDisabled class to give it the look of being disabled
                                    // add the disabled attribute to actually disable interactability
                                    j$buttons.toggleClass('btnDisabled', true).attr('disabled', 'disabled');
                                } else {
                                    // remove the css class and the disabled attribute
                                    j$buttons.toggleClass('btnDisabled', false).attr('disabled', null);
                                } 
                            }
                        </script>
                        <apex:outputpanel >
                            <apex:actionstatus id="status" onstart="buttonsEnabled(false);">
                                <apex:facet name="start">
                                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                           height: 100%;opacity:0.65;width:100%;"> 
                                        <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                            <span class="waitingDescription">Loading...</span>
                                        </div>
                                    </div>
                                </apex:facet>
                            </apex:actionstatus>
                        </apex:outputpanel>
                        <table border="0" width="100%">
                            <tr >
                            <td align="left">
                            <span>
                                <apex:outputLabel value="Page Size"/>
                                <apex:selectList value="{!pageSize}" size="1" onchange="callAction();return false;">
                                    <apex:selectOptions value="{!items}"/>
                                </apex:selectList>
                            </span>  
                            </td>
                            <td align="right">
                            <span >
                                <apex:outputLabel value="Page"/>
                                <apex:inputText id="pageNo" value="{!setCon.PageNumber}" style="width:20px; text-align:center" size="3" onkeydown="return runScript(event, this.id,'{!$Component.inputHiddenPageNumber}');" />
                                <apex:outputLabel value="of {!TotalPages}" id="numberOfPages"/>
                            </span>
                            </td>
                            </tr>
                        </table>
                          
                        <apex:inputhidden value="{!pageNumber}" id="inputHiddenPageNumber"/>
                        
                        <!-- Popup Data for Update CreditNotes -->
                        <span id = "dialog1">
                        <apex:outputPanel id="__dialog1" style="display:none;">
                           <apex:outputPanel >
                               <table>
                                   <thead>
                                    <tr>
                                      <th>Period</th>
                                      <th>Credit Note Date</th>
                                      <th>Ready to Post</th>
                                      <th>Action</th>
                                   </tr>
                                  </thead>
                                   <tr class="ui-widget-content">
                                      <td>
                                        <apex:outputpanel layout="block" styleClass="requiredInput">
                                            <apex:outputpanel layout="block" styleClass="requiredBlock"></apex:outputpanel>
                                            <apex:inputField value="{!updateCreditNotes.Open_Period__c}" styleClass="required"/>
                                        </apex:outputpanel>
                                      </td>
                                      <td>
                                        
                                        <apex:inputField value="{!updateCreditNotes.c2g__CreditNoteDate__c}" styleClass="required" />
                                            
                                      </td>
                                      <td>
                                        
                                        <apex:inputField value="{!updateCreditNotes.Ready_to_Post__c}" styleClass="required"/>
                                        
                                      </td>
                                      <td>
                                          <apex:commandButton action="{!updateSelectedCreditNotes}" value="Update" disabled="{!disableButton}" status="status" onclick="if(!validateManadatoryFields() || !confirm('Once the selected Credit Notes are Updated you will receive success/failure report on your email.\n\nAre you sure you want to Update selected Credit Notes ?')) return false;" reRender="TheForm" />
                                      </td>
                                      <td>
                                          <apex:commandButton action="{!updateAndPostSelectedCreditNotes}" value="Update & Post" disabled="{!disableButton}" status="status" onclick="if(!validateManadatoryFields() || !confirm('Once the selected Credit Notes are Updated you will receive success/failure report on your email and then they will be Posted and you will receive another email after Post.\n\nAre you sure you want to Update and Post selected Credit Notes ?')) return false;" reRender="TheForm" />
                                      </td>
                                   </tr>
                               </table>
                                <table>
                                  <thead class="ui-widget-header">
                                    <tr>
                                      <th>Credit Note Number</th>
                                      <th>Period</th>
                                      <th>Credit Note Date</th>
                                      <th>Due Date</th>
                                      <th>Ready to Post</th>
                                      <th>Credit Note Status</th>
                                   </tr>
                                  </thead>
                                  <tbody class="ui-widget-content">
                                   <apex:repeat value="{!SelectedCreditNotes}" var="a">
                                        <tr >
                                          <td>
                                            
                                            <apex:outputLink target="_blank" value="/{!a.tCreditNote.Id}">{!a.tCreditNote.Name}</apex:outputLink>
                                            
                                          </td>
                                          <td>
                                            
                                            <apex:outputField value="{!a.tCreditNote.c2g__Period__c}" />
                                            
                                          </td>
                                          <td>
                                            
                                            <apex:outputField value="{!a.tCreditNote.c2g__CreditNoteDate__c}"/>
                                                
                                          </td>
                                          <td>
                                            
                                            <apex:outputField value="{!a.tCreditNote.c2g__DueDate__c}"/>
                                                
                                          </td>
                                          <td>
                                            
                                            <apex:outputField value="{!a.tCreditNote.Ready_to_Post__c}"/>
                                            
                                          </td>
                                          <td><apex:outputText value="{!a.tCreditNote.c2g__CreditNoteStatus__c}"/></td>
                                        </tr>
                                   </apex:repeat>
                                  </tbody>
                                </table>
                           </apex:outputPanel>
                       </apex:outputPanel>
                       </span>
                       
                        <!-- table of data -->
                        <apex:pageBlockTable title="Credit Notes" value="{!listCreditNoteWrapper}" var="i">
                            <apex:column style="white-space: nowrap;" width="10%" >
                                <apex:facet name="header"><input type="checkbox" id="selectallsearch"/>Action</apex:facet>
                                <apex:inputCheckbox value="{!i.IsSelected}" styleClass="creditNoteSearch" />
                                <apex:facet name="footer"><!-- count of selected items -->
                                    <strong>[<span class="creditNoteSearchSelected"></span>&nbsp;records selected]</strong>
                                 </apex:facet>
                            </apex:column>
                            <apex:column headerValue="Credit Note Number">
                                <apex:outputLink target="_blank" value="/{!i.tCreditNote.Id}">{!i.tCreditNote.Name}</apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="Period">
                                <apex:outputField value="{!i.tCreditNote.c2g__Period__c}"/>
                            </apex:column>
                            <apex:column headerValue="Credit Note Date">
                                <apex:outputText value="{0,date,MM/dd/yyyy HH:mm:ss}">
                                   <apex:param value="{!i.tCreditNote.c2g__CreditNoteDate__c}" />
                               </apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Due Date">
                                <apex:outputText value="{0,date,MM/dd/yyyy HH:mm:ss}">
                                   <apex:param value="{!i.tCreditNote.c2g__DueDate__c}" />
                               </apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Credit Note Status">
                                <apex:outputText >{!i.tCreditNote.c2g__CreditNoteStatus__c}</apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Ready to Post?">
                                <c:AT_OutputCheckbox value="{!i.tCreditNote.Ready_to_Post__c}"/>
                            </apex:column>
                        </apex:pageBlockTable>
                        <apex:outputPanel layout="block" styleClass="pSearchShowMore" id="otpNav">
                            Total Records Found: <apex:outputText rendered="{!IF(setCon.resultSize==10000,true,false)}">10000 +</apex:outputText><apex:outputText rendered="{!IF(setCon.resultSize < 10000,true,false)}">{!setCon.resultSize}</apex:outputText>
                              <apex:image url="/img/search_prevarrow_disabled.gif" styleClass="prevArrow" rendered="{!NOT(setCon.HasPrevious)}"/>
                              <apex:image url="/img/search_prevarrow.gif" title="Previous Page" styleClass="prevArrow" rendered="{!setCon.HasPrevious}"/>
                              <apex:commandLink action="{!doPrevious}" title="Previous Page" value="Previous Page" rendered="{!setCon.HasPrevious}" status="status" reRender="mpb,scriptPanel"/>
                              <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(setCon.HasPrevious)}">Previous Page</apex:outputPanel>         
                              &nbsp;({!IF(setCon.PageNumber == 1,1,((setCon.PageNumber -1) * setCon.PageSize)+1)}-{!IF(setCon.resultSize < setCon.PageSize,setCon.resultSize,setCon.PageNumber * setCon.pageSize)})&nbsp;
                              <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(setCon.HasNext)}">Next Page</apex:outputPanel>         
                              <apex:commandLink title="Next Page" value="Next Page" rendered="{!setCon.HasNext}" action="{!doNext}" status="status" reRender="mpb,scriptPanel"/>&nbsp;
                              <apex:image url="/img/search_nextarrow.gif" title="Next Page" styleClass="nextArrow" rendered="{!setCon.HasNext}"/>
                              <apex:image url="/img/search_nextarrow_disabled.gif" rendered="{!NOT(setCon.HasNext)}"/>          
                        </apex:outputPanel>
                </div>   
                </apex:pageBlock>
            </apex:outputPanel> 
            </td>
        </tr>
        </table>
        </div>
        </apex:pageblock>
         <apex:outputPanel id="scriptPanel">
            <script>
                j$ = jQuery.noConflict();
                j$(document).ready(function(){
     
                    // add multiple select / deselect functionality
                    j$("#selectallsearch").click(function () {
                          if(j$(this).is(':checked')){
                              j$('.creditNoteSearch:not(:disabled)').prop("checked", true);
                          }else{
                              j$('.creditNoteSearch').prop("checked",false);
                          }
                          j$('.creditNoteSearchSelected').text(j$(".creditNoteSearch:checked:not(:disabled)").length);
                          
                    });
                 
                    // if all checkbox are selected, check the selectall checkbox
                    // and viceversa
                    j$(".creditNoteSearch").click(function(){
                 
                        if(j$(".creditNoteSearch").length == j$(".creditNoteSearch:checked").length) {
                            j$("#selectallsearch").prop("checked", true);
                        } else {
                            j$("#selectallsearch").prop("checked", false);
                        }
                        j$('.creditNoteSearchSelected').text(j$(".creditNoteSearch:checked:not(:disabled)").length);
                 
                    });
                });
                
                //escapes Visualforce ID for jQuery
                function esc(myid) {
                   return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
                }
                
                
                //opens the dialog
                function openDialog(dialogId, dialogTitle, appendId)
                {
                    j$(esc(dialogId)).dialog({title:dialogTitle, 
                                              modal:true,
                                              width: "auto",
                                              height: 600,
                                              appendTo: "#" + appendId ,
                                              show: {
                                                effect: "fold",
                                                duration: 500
                                              },
                                              hide: {
                                                effect: "fold",
                                                duration: 500
                                              }
                                             });
                }
                
                //copies value from an input to another
                function copyHiddenFields(fromId, toId)
                {
                    buttonsEnabled(false);
                    j$(esc(toId)).val(j$(esc(fromId)).val());
                }
                function validateManadatoryFields() {
                    var fields = j$("input.required").serializeArray();
                    var isValid = true;
                    j$.each(fields, function(i, field) {
                    if (!j$.trim(field.value).length)
                      isValid = false;
                   }); 
                   if(!isValid) {
                    alert('Please fill all required fields');
                    return false
                   }   
                   return true;
                }
                /*
                *    Lookup Override
                */   
                /*function doLookupPick(a,b,c,d,e,f,g,k,l){
                     var elementId = b.modElement.id.substring(0,b.modElement.id.length-4);
                     j$(esc(elementId+"_lkid")).val(c);
                     j$(esc(elementId+"_lkold")).val(d);
                     j$(esc(elementId)).val(d);
                     closePopup();
                }*/
                
                function runScript(obj, fromId, toId){
                    //alert(fromId + '>' + toId);
                    if(obj.keyCode == 13){
                        copyHiddenFields(fromId, toId);
                        callAction();   // call action function
                        return false;
                    }else if((obj.keyCode > 34 && obj.keyCode < 40) || (obj.keyCode > 95 && obj.keyCode < 106) || (obj.keyCode > 47 && obj.keyCode < 58) || obj.keyCode == 8 || obj.keyCode == 46 ){
                        return true;
                    }else{
                        return false;
                    }
                }
            </script>
        </apex:outputPanel>
     </apex:form>
     </apex:tab>
     
     </apex:tabPanel>  
</apex:page>