<apex:page id="loginPage" showHeader="false" title="{!$Label.site.site_login}">
<apex:stylesheet value="{!URLFOR($Resource.style_resources, 'portal.css')}"/>
<div id="brandingBar">
    <div class="rightcolumn"><a href="/secur/logout.jsp">Logout</a></div>
        <div class="leftcolumn">
          <a href="http://pandora.com" target="new" alt="Pandora"><div class="logo" style="display: block; "></div></a>
            <div class="logosubscriber" style="display: none; "></div>
        </div>
</div>
<div id="main">
  <div style="display: block;">
    content
  </div>
  
<!-- end .content --><div class="footer"><!-- end .footer --></div><!-- end .container --></div></apex:page>