<apex:page standardController="Opportunity">
      <script type="text/javascript" src="/js/functions.js"></script>
    <script src="/soap/ajax/11.1/connection.js"></script>
<apex:form >
<script language="javascript">
   sforce.connection.sessionId = '{!$Api.Session_ID}';
    
	window.onload = function() {
	 window.location.href="https://www.xactlycorp.com/xintegrations/jsp/incent_estimator.jsp?opId={!Opportunity.Id}&sfSessionId={!$API.Session_ID}&&sfServerUrl={!$API.Partner_Server_URL_150}&sfPartnerServerUrl={!$API.Partner_Server_URL_150}&sfOrgId={!$Organization.Id}";
    }
 </script>

  </apex:form>
</apex:page>