<apex:page standardController="Opportunity" standardStylesheets="false" showHeader="false" sidebar="false"
			docType="html-5.0" >
	<!--standardController="Opportunity"-->
	 <html xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
	 <script src="/canvas/sdk/js/pubisers"/>

	 <script>
	 	Sfdc.canvas.publisher.resize({width : "750px"});
	 </script>
	<head>
		<apex:includeScript value="/lightning/lightning.out.js"/>
	</head>
	<body>	
          <div  id="lightningPLIId" style="height:100%;width:100%"></div>
	<script>
		
		function initLookup() {
			//var rId = "{!$CurrentPage.parameters.id}";
			//alert("in function");
			$Lightning.use("c:CreateTTRApp",function() {
				$Lightning.createComponent("c:Generate_TTR_Addendum_Lightning",{
						recordId:"{!Opportunity.Id}",
                    	serverUrl:"{!$API.Partner_Server_URL_80}"
					},"lightningPLIId",
					function(cmp) {
					});
				});
		}
		initLookup();
		
	</script>
	</body>
	</html>
</apex:page>