<apex:page standardController="Account" extensions="Kantar_SummaryExtension" sidebar="false" showHeader="true" >
<head>
<style type="text/css">

body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    background: #E6EAE9;
}

a {
    color: #c75f3e;
}

#mytable {
    width: 800px;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;    
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    width: 150px;
}
td.alt {
    background: #F5FAFA;
    color: #797268;
    width: 150px;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}
table tbody, table thead
{
    display: block;
}
table tbody 
{
   overflow: auto;
   height: 200px;
}
.scroll {
    max-height: 60px;
    overflow: auto;
}



</style> 
<apex:slds />
</head>

<div class="slds-scope"> 

<table id="mytable" cellspacing="0" summary="The technical
specifications of the Apple PowerMac G5 series">

<tr >
  <th scope="col" abbr="Media" >Media</th>
  <!--<th scope="col" abbr="{!currentQuarter}">{!currentQuarter}</th>
  <th scope="col" abbr="{!previousQuarter}">{!previousQuarter}</th>
  <th scope="col" abbr="{!previousButOneQuarter}">{!previousButOneQuarter}</th>
  <th scope="col" abbr="{!previousButTWOQuarter}">{!previousButTWOQuarter}</th>
  <th scope="col" abbr="{!previousButTHREEQuarter}">{!previousButTHREEQuarter}</th>-->
  <th scope="col" abbr="{!previousButFourQuarter}">{!previousButFourQuarter}</th>
  <th scope="col" abbr="{!previousButTHREEQuarter}">{!previousButTHREEQuarter}</th>
  <th scope="col" abbr="{!previousButTWOQuarter}">{!previousButTWOQuarter}</th>
  <th scope="col" abbr="{!previousButOneQuarter}">{!previousButOneQuarter}</th>
  <th scope="col" abbr="{!previousQuarter}">{!previousQuarter}</th>
  <!--<th scope="col" abbr="{!currentQuarter}">{!currentQuarter}</th>-->
</tr>

<apex:repeat value="{!kantarWrapperList}"  var="rec" id="theRepeat">
<tr>
  <th scope="row" class="spec">{!rec.media}</th>
  <!--<td>{!rec.quarter1Spend1}</td>
  <td>{!rec.quarter2Spend2}</td>
  <td>{!rec.quarter3Spend3}</td>
  <td>{!rec.quarter4Spend4}</td>
  <td>{!rec.quarter5Spend5}</td>-->
  <td><apex:outputText value="${0, number, ###,##0.00}"  >
        <apex:param value="{!if((rec.quarter6Spend6<>null) && (rec.quarter6Spend6>0),rec.quarter6Spend6,0)}"/>  
      </apex:outputText>
  </td>
  <td><apex:outputText value="${0, number, ###,##0.00}"  >
        <apex:param value="{!if((rec.quarter5Spend5<>null) && (rec.quarter5Spend5>0),rec.quarter5Spend5,0)}"/>  
      </apex:outputText>
  </td>
  <td><apex:outputText value="${0, number, ###,##0.00}"  >
        <apex:param value="{!if((rec.quarter4Spend4<>null) && (rec.quarter4Spend4>0),rec.quarter4Spend4,0)}"/>  
      </apex:outputText>
  </td>
  <td><apex:outputText value="${0, number, ###,##0.00}"  >
        <apex:param value="{!if((rec.quarter3Spend3<>null) && (rec.quarter3Spend3>0),rec.quarter3Spend3,0)}"/>  
      </apex:outputText>
  </td>
  <td><apex:outputText value="${0, number, ###,##0.00}"  >
        <apex:param value="{!if((rec.quarter2Spend2<>null) && (rec.quarter2Spend2>0),rec.quarter2Spend2,0)}"/>  
      </apex:outputText>
  </td>
  <!--<td><apex:outputText value="${0, number, ###,##0.00}"  >
        <apex:param value="{!if((rec.quarter1Spend1<>null) && (rec.quarter1Spend1>0),rec.quarter1Spend1,0)}"/>  
      </apex:outputText>
  </td>-->
  
  <!--
  <td>{!rec.quarter5Spend5}</td>
  <td>{!rec.quarter4Spend4}</td>
  <td>{!rec.quarter3Spend3}</td>
  <td>{!rec.quarter2Spend2}</td>
  <td>{!rec.quarter1Spend1}</td>-->
</tr>
</apex:repeat>


</table>

</div>
</apex:page>