<apex:page standardController="Employee__c"
    recordSetVar="Employees"
    extensions="LEGAL_CERT_CreateEmpCertification"
    action="{!onLoad}"
    showHeader="true">
    <apex:sectionHeader title="Pandora's 302 Certification System" description="Create Reminder for the Certification to send to the Employees listed below."/>
    <apex:form >       
       <apex:pageMessage rendered="{!msgFlag }" summary="{!msgInfo}" severity="confirm" strength="3" />       
       <apex:commandButton action="{!URLFOR($Action.Employee__c.Tab, $ObjectType.Employee__c)}" value="{!$Label.LEGAL_CERT_Ok}" rendered="{!(showButton)}"  style="margin-left:50px;"/> 
    </apex:form>
    <apex:form rendered="{!if(msgFlag==false, true, false) }">
        <apex:pageBlock id="rec">            
            <apex:outputPanel rendered="{!errorFlag}">           
                <apex:pageMessages ></apex:pageMessages>  
                <apex:commandButton rendered="{!if(reminderBlock==false, true, false) }" value="Ok" action="{!confirmForReminder}" />
                <apex:commandButton rendered="{!if(reminderBlock==false, true, false) }" value="Cancel" action="{!cancleToReminder}"/>                
            </apex:outputPanel>
            <apex:outputPanel rendered="{!reminderBlock}">
            <apex:pageBlockSection title="Certification Information" >
                    <apex:outputField value="{!ec.Certification__c}" />
            </apex:pageBlockSection>
             <apex:pageBlockSection title="Reminder Scheduling" columns="1">
                 <apex:outputLabel value="Please select the date and time of the notification.  Then choose the email template to send the employees at the selected date and time."></apex:outputLabel>  
                 <apex:pageBlockTable value="{!conditions}" var="r">
                    <apex:column headerValue="Date & Time">
                        <apex:inputField value="{!r.condition.Date_Time__c}" />
                    </apex:column> 
                    <apex:column headerValue="Email Template">
                         <apex:selectList value="{!r.condition.Email_Template__c}" size="1" id="course">
                             <apex:selectOptions value="{!EmailTemplate}"></apex:selectOptions>                                           
                         </apex:selectList>
                    </apex:column>    
                </apex:pageBlockTable> 
              </apex:pageBlockSection>  
            <apex:pageBlockSection >             
                <apex:commandButton value="Add Another Notification" action="{!onAddCondition}"  reRender="rec"/>
                <apex:commandButton value="Remove Notification" action="{!onRemoveCondition}"  reRender="rec"/>
            </apex:pageBlockSection>  
            <apex:pageBlockSection title="Selected Employees" >
                <apex:pageBlockTable value="{!selected}" var="emp">
                    <apex:column value="{!emp.Employee_ID__c}" />
                    <apex:column value="{!emp.Name}" />
                    <apex:column value="{!emp.Department__c}" />
                    <apex:column value="{!emp.Email__c}" />
                    <apex:column value="{!emp.Executive_name__c}" />
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:pageBlockButtons location="bottom" rendered="{!reminderBlock}">                
                <apex:commandButton value="Send Certification" action="{!saveReminder}" />
                <apex:commandButton value="Cancel" action="{!URLFOR($Action.Employee__c.Tab, $ObjectType.Employee__c)}" immediate="true"/>                
            </apex:pageBlockButtons>
           
        </apex:pageBlock>
    </apex:form>
</apex:page>