<apex:page sidebar="false" showHeader="false" standardController="Employee__c" extensions="LEGAL_CERT_EmpVerificationController"  cache="false" expires="-1">
    
    <style>
        .center{
            margin-left:auto;
            margin-right:auto;
            width:70%;
            font-size: 16px;
            font-weight: bold;
        }
    </style>
    <apex:pageMessage rendered="{!errorFlag}" summary="{!msgInfo}" severity="info" strength="3"  /> 

    <apex:form id="theForm" rendered="{!NOT(errorFlag)}" >
    <!--apex:iframe src="{!attach}" scrolling="true" id="theIframe" /-->
    <br/>
    <div class="center">
        <!-- <apex:pageMessage strength="3" severity="info" title="Important!" summary="{!$Label.Document_Message}"/> -->   
            <apex:pageMessage escape="false" strength="3" severity="info" title="Below is your quarterly certification." >
                As part of the certification, employees are expected to read and familiarize themselves with the Code of Business Conduct and Ethics (the “Code”). Please <a href='{!docURL}' target="_blank">click here</a> to view the Code.
            </apex:pageMessage>
        </div>
        <br/>
        <apex:variable var="thePreview" value="{!if(previewURL==NULL || previewURL=='',docURL,previewURL)}"/>
        <apex:iframe src="{!thePreview}" scrolling="true" id="theIframe"/>
        <div align="center">
            <apex:pageBlock id="ref" >
                <apex:selectRadio value="{!response}">
                    <apex:actionSupport action="{!showTextFields}" event="onclick" reRender="exceptionArea"/>
                    <apex:selectOptions value="{!ResponseList}"/>
                </apex:selectRadio><p/>
                <apex:pageBlockSection columns="1" id="exceptionArea" >
                    <apex:pageBlockSectionItem rendered="{!flag}">
                        <apex:outputLabel ><b>Enter exception below:</b></apex:outputLabel>
                        <apex:inputTextarea id="exceptionText" value="{!strException}" style="width:100%;height:100px;"/>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <br/>
                <apex:commandButton value="Save for later" action="{!saveForLater}"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <apex:commandButton value="Save and Submit" action="{!saveAndSubmit}"/><br/><br/>
            </apex:pageBlock>
        </div>
    </apex:form>
</apex:page>