<apex:page controller="NewUserRegistrationController"  showHeader="false" sidebar="false" tabStyle="Account" title="New User Registration" docType="html-5.0">>
  <apex:slds />
  <style>

    .bgclass{
      padding: 270px;
        text-align: center;
        
        background-position: center;
        background-size: cover;
        margin: 40px auto;
    }
  </style>
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>New User Registration</title>
         <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>               
        <!-- Required - Bootstrap CSS -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/css/bootstrap.min.css')}"/>-->

        
        <!-- Required - Form style -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/css/flat-form.css')}"/> -->


        <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/bootstrap.min.css')}"/>
      <!-- Required - Form style -->
      <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/flat-form.css')}"/>



      


          
      <!-- Required - Form style -->
            <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/page-style.css')}"/>
           <apex:stylesheet value="{!URLFOR($Resource.ATS_StyleSheet, '/ATS_StyleSheet/css/page-style-test.css')}"/>      
      
    </head>

<body style="background:url({!URLFOR($Resource.ATS_Images,'/ATS_Images/ATS_login_1920x1080.jpg')});">
<!--background-image: url('{!URLFOR($Resource.pandora_img)}');<div align="center" style="width: 200px;height:250px">
  &nbsp;
</div>  -->
  
  
  <div class="container bgclass" style="background-color: color|transparent|initial|inherit;">
    
    <!--<header class="header">
        <h1>New User Registration</h1>
    </header> -->
    
   
    <apex:slds />
    <div class="content" style="background-color:dbf0fd; border.border-bottom-width: 0px">
      <div class="row">
      <div class="col-sm-1">
       </div>
      
   
        <article class="col-sm-10">
           <apex:form >

           <apex:actionStatus id="statusId">
                  <apex:facet name="start">

                     <div class="slds-spinner_container">
                        &nbsp;
                     </div>
                     <div class="slds-spinner slds-spinner_brand slds-spinner_large" aria-hidden="false" role="alert">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                     </div>
                  </apex:facet>
               </apex:actionStatus>

        
          <div style="padding-bottom: 25px;padding-top: 5px;text-Align:center"><atsh3 >NEW USER REGISTRATION</atsh3></div>
           

           <div class="control-label ">
              <apex:pageMessages id="pageMessages" />
             </div>  

           <div class="">
              
              
              <div class="form-group" style="text-align: left">
                <atsh4>Enter your email</atsh4>
                
                
                <apex:inputText label="Email" styleClass="form-control float-right " style="font-size: 14px;
  color: #555;"  value="{!customerEmail}" id="theTextInput" html-pattern="^(([^<>()\[\]\\.,;:\s@']+(\.[^<>()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$"/>
              </div>



              <div class="row" style="width: 100%;bottom: 0;">
                  
                   <div class="col-md-12" style="text-align: left;">
                        <apex:commandButton styleClass="btn slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px"  action="{!Cancel}" value="Cancel" status="statusId"/>
                        <apex:commandButton action="{!Next}" styleClass="btn slds-button slds-button--brand" style="margin-right: 10px;margin-top: 10px;margin-bottom: 10px;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;font-family: Montserrat, 'Open Sans', Arial, sans-serif;font-size:14px"   value="Next" oncomplete="hideBUttons();" status="statusId" rerender="pageMessages" />
                   
                   </div>
                   
              </div>

              
           </div>
        
        </apex:form>
        </article>
       
          
      </div>
    </div>
     
  </div>
  </body>
  <script>
       $("[id$='theTextInput']").focus();

      function hideBUttons(){

          document.getElementById('btnDiv').style.display = 'none';
          $("[id$='theTextInput']").prop("disabled",true);
      } 
  </script>
</apex:page>