<apex:page standardController="Opportunity" extensions="OPT_UI_Select_Upfront" showHeader="false">
    <script>
    /*
    function init() {
        var Upfront = "{!objOpp.Upfront__c}";
        if((Upfront == null || Upfront == '') &&{!UpfrontList.size > 0} && !{!someError} && "{!$CurrentPage.parameters.isPopup}" != '1'){
            alert('Upfront not set, please select Upfront for this Opportunity');
            //document.getElementById('{!$Component.frmId}').scrollIntoView(true);
            openUpfrontPopup();
        }    
    }
    var mine;
    function openUpfrontPopup(){
        var w=200;
        var h=200;
        //alert(screen.width+ "-" +screen.height);
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        var browserName = navigator.appName;
        
        if(browserName.indexOf("Microsoft") != -1 || navigator.appName.indexOf("Netscape") != -1){
            mine = window.open("/apex/OPT_UI_Select_Upfront?id={!$CurrentPage.parameters.Id}&isPopup=1","Upfront","left="+left+",top="+top+",width="+w+",height="+h+",scrollbars=1")
        } else { 
            mine = window.showModalDialog("/apex/OPT_UI_Select_Upfront?id={!$CurrentPage.parameters.Id}&isPopup=1","Upfront", "dialogWidth:"+w+"; dialogHeight:"+h+"; center:yes");
        }
        if(!mine|| mine.closed || typeof mine.closed=='undefined'){
            alert('Please disable your pop-up blocker from options and refresh the page.');
            if(mine){
                mine.close();
            }
        } else {
            //Fix for chrome
            var cookieCheckTimer = null;
            cookieCheckTimer =  setTimeout('testPopup();', 3000);
        }
    }
    //Fix for chrome
    function testPopup() {
        if(mine) {
            if(mine.test()) {
            } else {
                alert('Please disable your pop-up blocker from options and refresh the page.');
                mine.close(); 
            }
        }
    } 
    
    function closeWindowPopUp(){
        if("{!$CurrentPage.parameters.isPopup}" == '1'){
            self.opener.refreshFrame();
            window.close();
        }
    }
    function refreshFrame(){
        refreshInlinePage();
    }
    var previousOnload = window.onload;        
    window.onload = function() { 
        if (previousOnload) { 
            previousOnload();
        }
        init();
    }
    */
    </script>
    <apex:outputPanel rendered="{!$CurrentPage.parameters.isPopup == '1'}">
        <script>
        //Fix for chrome
        function test() {
            if(window.innerHeight!=0){
                return true;
            } else { 
                return false;
            }
        }
        </script>
    </apex:outputPanel>
    <apex:form id="frmId" >
        <apex:actionStatus id="saving"> 
            <!-- onstop="closeWindowPopUp();" -->
            <apex:facet name="start"> 
                <c:enhancedActionStatus BorderColor="#336699"  Width="120px" Height="50px" BackColor="#efefef" BorderSize="3" ImageUrl="{!$Resource.SFDC_Loading}" Message="Loading, Please Wait..." />
            </apex:facet>
        </apex:actionStatus>
        <apex:actionFunction name="refreshInlinePage" action="{!init}" rerender="frmId">
        </apex:actionFunction>
        <apex:pageMessages escape="false"/>
        <!--
		<apex:outputPanel id="reloadPanel" rendered="{!reloadNeeded}" >
            <script type="text/javascript">
                // redirect the top level window
                window.top.location.href = '{!pageURL}';
            </script>   
        </apex:outputPanel>
		-->
        <apex:pageBlock mode="maindetail" rendered="{!objOpp.Upfront__c <> null}">
            <apex:commandLink value="Delete" action="{!deleteUpfront}" reRender="frmId" status="saving"/>
                &nbsp; Selected Upfront: <apex:outputLink target="_blank" value="/{!objOpp.Upfront__c}" >
                <strong>{!objOpp.Upfront__r.Name}</strong>
            </apex:outputLink>
            <br/> <apex:outputLabel >Current Spend Tier: </apex:outputLabel>
            <strong><apex:outputText value="{!objOpp.Upfront__r.Current_Tier__c}"/></strong>
            
        </apex:pageBlock>
        <apex:selectList rendered="{!objOpp.Upfront__c == null && UpfrontList.size > 0 && !someError}"
                         value="{!selectedUpfront}"  size="1" >
            <apex:selectOptions value="{!UpfrontList}"/>
        </apex:selectList>
        <apex:commandButton rendered="{!objOpp.Upfront__c == null && UpfrontList.size > 0 && !someError}"
                            action="{!saveUpfront}" status="saving" rerender="frmId" value="Select Upfront"/>
        <apex:outputPanel rendered="{!UpfrontList.size==0}">
            <div >
                Account does not have a related Upfront.
            </div>
        </apex:outputPanel>
        
    </apex:form>
</apex:page>