<!--/***************************************************
   Name:  PandoraIdeaEditPage

   Usage: This page enables editing an Idea.

   Author – Stratitude, Inc.

   Date – 07/08/2012

  Modified By - Charudatta Mandhare
  
******************************************************/ -->




<apex:page sidebar="false" showHeader="false" standardController="Idea" extensions="CntrlrExtension_PandoraEditIdeaForm">
 <apex:includeScript value="{!URLFOR($Resource.jQuery, '/js/jquery-1.7.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, '/js/jquery-ui-1.8.21.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.jQuery, '/css/ui-lightness/jquery-ui-1.8.21.custom.css')}"  />
 <apex:stylesheet value="{!URLFOR($Resource.pandora_css, '/css/global.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.pandora_css, '/css/customer.css')}"/>
  <apex:form >
   
 
    <head>
     
 
   
    
    <!--<link href="http://theavenue5.com.previewdns.com/pandora/css/global.css" rel="stylesheet" type="text/css"/>-->
<!--<link href="http://theavenue5.com.previewdns.com/pandora/css/customer.css" rel="stylesheet" type="text/css"/>
<link href="http://theavenue5.com.previewdns.com/pandora/css/simple-modal.css" rel="stylesheet" type="text/css"/>
<link href="http://theavenue5.com.previewdns.com/pandora/css/msi_mod.css" rel="stylesheet" type="text/css"/>-->
   <script type="text/javascript">
var j$ = jQuery.noConflict();

j$(document).ready(function()

{

    //slides the element with class "menu_body" when paragraph with class "menu_head" is clicked 

   

    //slides the element with class "menu_body" when mouse is over the paragraph

    j$("#secondpane p.menu_head").mouseenter(function()

    {

            j$(this).css({backgroundImage:"url({!URLFOR($Resource.pandora_css, '/css/images/down.png')})"}).next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
            j$(this).siblings().css({backgroundImage:url="({!URLFOR($Resource.pandora_css, '/css/images/left.png')}"}); 
    });
     j$("#secondpane").mouseleave(function()

    {

            j$(".menu_head").css({backgroundImage:"url({!URLFOR($Resource.pandora_css, '/css/images/left.png')})"}).siblings("div.menu_body").slideUp("slow");
   
    })

});

</script>
<style type="text/css">

body {

}

.menu_list {    

    width: 150px;

}

.menu_head {

   padding: 5px 10px;

    cursor: pointer;

   position: relative;

    margin:1px;

    font-weight:bold;color:#ffffff;
    

     background: #06C url({!URLFOR($Resource.pandora_css, '/css/images/left.png')}) center right no-repeat;

}

.menu_body {

    display:none;

}

.menu_body a{



}

.menu_body a:hover{

  color: #06C;

  text-decoration:underline;

  }

</style>

        <title>Got a Question?</title>
    </head>
     
    <body>
    <span id="j_id0:j_id30">


    <div id="header">
        <div class="content">
                            <h2 id="site-title"><a href="/apex/pandoraIdeaLandingPage">My Pandora Idea</a></h2> 
                <a href="#main" id="skip-nav">skip</a>
                <ul id="nav1">
                    <li class="active"><a href="/apex/PandoraStyledIdeaForm"><span>Got a Question?</span></a></li>
                    <li class=""><a href="/apex/pandoraIdeaLandingPage?lsi=0"><span>View Existing Questions</span></a>
                        <ul class="subnav">
                <li class="active">
                    <a href="/apex/idealist?lsi=0">Popular Questions</a>
                </li>
                <li class="">
                    <a href="/apex/idealist?lsi=1">Recent Questions</a>
                </li>
                <li class="">
                    <a href="/apex/idealist?lsi=2">Top All-Time</a>
                </li>
                  <li class="">
                    <a href="/apex/idealist?lsi=3">Comments</a>
                  </li>
              </ul> 
              </li>
             
                </ul>
                

                <div id="nav2">
                        <div id="user-area">
                            <span class="greeting">Hi {!$User.CommunityNickName},</span>
                           
                        </div>
                
                    <div id="user-menu">
                        <ul>
                           
                        </ul>
                    </div>          
                                        
                        
                   
                
                </div>
            </div>
        </div></span>

    <div id="main">
     <div class="content">
         <div class="col-a" style="clear:both">
             <span id="j_id0:j_id78">
    </span>

     
      
      <h1><span>Edit your Question!!</span><br/></h1> 
      
        <div class="submit-idea" style="clear:both">
       
    
       
    
    
           <fieldset>
         <span class="field-long">
         
          
          <label for="fieldTitle">Question:</label>
          
           <apex:inputField label="Idea" style="height:22px;" value="{!i.title}" />
          <!--<input id="j_id0:j_id78:j_id79:formIdea:fieldTitle" type="text" name="j_id0:j_id78:j_id79:formIdea:fieldTitle" onblur="javascript:com..similar.beforeAjaxGetSimilar(this);" style="height:22px;" /> -->
         </span>
        </fieldset> 
        <fieldset id="ideaBody">
         <span>
          <label for="idea">Description:</label>
          <div>
           <apex:inputTextarea label="Description" value="{!i.body}" richText="true"/>
          <!-- <textarea id="j_id0:j_id78:j_id79:formIdea:idea" name="j_id0:j_id78:j_id79:formIdea:idea"></textarea>-->
          </div>
         </span>
        </fieldset>

        <fieldset id="ideaCategory">
         
          <label for="category">Category:</label>
         
         <apex:selectList id="chooseColor" value="{!i.categories}" size="1">
            <apex:selectOptions value="{!CategoryValues}"></apex:selectOptions>
         
            
        </apex:selectList> 
          
        
        </fieldset>
       
        <fieldset class="sbx_buttons">
         <span class="sbx_button">
          <apex:commandButton action="{!save}" value="Update" style="color:grey"/>
           <apex:commandButton action="{!Cancel}" value="Cancel" style="color:grey" immediate="true"/>
        
         </span>
        </fieldset>
       
     
      </div>
     
         </div>
        <div class="col-b"> 
           

<h2 class="top">
 <span>Ideas so far</span>
</h2>



<!--********************************************-->
 

<div class="partner-category" id="secondpane"> 
<!--<h3 id="h3-product-ideas">Advertising Ideas</h3>--->
 <p class="menu_head">{!IdeaCategories[0]}</p>

 <!--***************************************************************************************************************************************-->
  <div class="menu_body">
   <apex:dataList value="{!IdeasCategory1}" var="IdeaCategory1" rows="4">
   <span>{!(Round(IdeaCategory1.VoteTotal,0))}</span> <a href="/apex/PandoraViewIdea?id={!IdeaCategory1.id}">{!IdeaCategory1.title}</a>
   
   </apex:dataList>
   </div>
  
<!--<h3 id="h3-product-ideas">{!IdeaCategories[1]}</h3>-->
   <p class="menu_head">{!IdeaCategories[1]}</p>
 <div class="menu_body">
<apex:dataList value="{!IdeasCategory2}" var="IdeaCategory2" rows="4">
   <span>{!(Round(IdeaCategory2.VoteTotal,0))}</span> <a href="/apex/PandoraViewIdea?id={!IdeaCategory2.id}">{!IdeaCategory2.title}</a>
   
   </apex:dataList>
  </div>
<!-- <h3 id="h3-involvement-ideas">{!IdeaCategories[2]}</h3>-->
 
 <!-- <p class="menu_head">{!IdeaCategories[2]}</p>--> 

 <!--***************************************************************************************************************************************-->
   <!--<div class="menu_body">
 <apex:dataList value="{!IdeasCategory3}" var="IdeaCategory3" rows="4">
   <span>{!(Round(IdeaCategory3.VoteTotal,0))}</span> <a href="/apex/PandoraViewIdea?id={!IdeaCategory3.id}">{!IdeaCategory3.title}</a>
   
   </apex:dataList>
  </div>
-->
    
  <!--<h3 id="h3-involvement-ideas">{!IdeaCategories[3]}</h3>-->
  <!--<p class="menu_head">{!IdeaCategories[3]}</p>
-->
 <!--***************************************************************************************************************************************-->
  <!--<div class="menu_body">
  <apex:dataList value="{!IdeasCategory4}" var="IdeaCategory4" rows="4">
   <span>{!(Round(IdeaCategory4.VoteTotal,0))}</span> <a href="/apex/PandoraViewIdea?id={!IdeaCategory4.id}">{!IdeaCategory4.title}</a>
   
   </apex:dataList>
</div>
     -->
<!--<p class="menu_head">{!IdeaCategories[4]}</p> -->
 
 <!--***************************************************************************************************************************************-->
<!--
  <div class="menu_body">
  <apex:dataList value="{!IdeasCategory5}" var="IdeaCategory5" rows="4">
   <span>{!(Round(IdeaCategory5.VoteTotal,0))}</span> <a href="/apex/PandoraViewIdea?id={!IdeaCategory5.id}">{!IdeaCategory5.title}</a>
   
   </apex:dataList>
</div>
   -->
    
</div>

<span>
</span>



        </div>
       </div>
    </div>
           
   
    </body>
          
    
    </apex:form>
    </apex:page>