<apex:page standardController="Opportunity" standardStylesheets="false" showHeader="false" sidebar="false"
			docType="html-5.0" >
	<!--standardController="Opportunity"-->
	 <html xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
	<head>
		<apex:includeScript value="/lightning/lightning.out.js"/>
	</head>
	<body>
		
          <div  id="lightningPLIId"></div>
	<script>
		/* old working piece
		function initLookup() {
			//var rId = "{!$CurrentPage.parameters.id}";
			//alert("in function");
			$Lightning.use("c:RelatedListApp",function() {
				//alert("in function a4 app addition");
				$Lightning.createComponent("c:RelatedList",{
						opptyId:"{!Opportunity.Id}"
					},"lightningPLIId",
					function(cmp) {
					});
				});
		}
		initLookup();*/
		function initLookup() {
			//var rId = "{!$CurrentPage.parameters.id}";
			//alert("in function");
			$Lightning.use("c:RelatedListApp",function() {
				//alert("in function a4 app addition");
				$Lightning.createComponent("c:ProductDisplay",{
						opptyId:"{!Opportunity.Id}"
					},"lightningPLIId",
					function(cmp) {
					});
				});
		}
		initLookup();
	</script>
	</body>
	</html>
</apex:page>