<apex:page standardStylesheets="false"
    sidebar="false"
    showHeader="false"
    contentType="text/html" cache="true"><apex:outputText escape="false" value="{!"<!DOCTYPE html>"}"/>
<html>
    <head>
        <title>The Wall - Pharmaceuticals</title>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<apex:stylesheet value="{!URLFOR($Resource.wall_css,'css/base.css')}"/>
<!--[if lt IE 9 ]><apex:stylesheet value="{!URLFOR($Resource.wall_css,'css/720_grid.css')}"/><![endif]-->

 <style>
/* media queries */ 
        @media screen and (min-width: 720px) {
/* include 720_grid  = media queries */ 
            /* Containers */
            body {
                font-size: 0.875em;
                padding: 0;
            }
            .grid {
                margin:0 auto;
                padding: 0 10px;
                width:700px;
            }
            .row {
                clear:left;
            }
            /* Slots Setup */
            .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-1-2, .slot-1-2-3, .slot-1-2-3-4, .slot-1-2-3-4-5, .slot-2-3, .slot-2-3-4, .slot-2-3-4-5, .slot-3-4, .slot-3-4-5, .slot-4-5, .slot-6, .slot-7, .slot-8, .slot-9, .slot-6-7, .slot-6-7-8, .slot-6-7-8-9, .slot-7-8, .slot-7-8-9, .slot-8-9 {
                display:inline;
                float:left;
                margin-left:20px;
            }
            /* 6-Col Grid Sizes */
            .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5 {
                width:100px;
            } /* Sixths */
            .slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5 {
                width:220px;
            } /* Thirds */
            .slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5 {
                width:460px;
            } /* Two-Thirds */
            .slot-0-1-2-3-4, .slot-1-2-3-4-5 {
                width:580px;
            } /* Five-Sixths */
            /* 4-Col Grid Sizes */
            .slot-6, .slot-7, .slot-8, .slot-9 {
                width:160px;
            } /* Quarters */
            .slot-6-7-8, .slot-7-8-9 {
                width:520px;
            } /* Three-Quarters */
            /* 6-Col/4-Col Shared Grid Sizes */
            .slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9 {
                width:340px;
            } /* Halves */
            .slot-0-1-2-3-4-5, .slot-6-7-8-9 {
                width: 100%;
            } /* Full-Width */
            /* Zeroing Out Leftmost Slot Margins */
            .slot-0, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-6, .slot-6-7, .slot-6-7-8, .slot-6-7-8-9, .slot-1 .slot-1, .slot-1-2 .slot-1, .slot-1-2 .slot-1-2, .slot-1-2-3 .slot-1, .slot-1-2-3 .slot-1-2, .slot-1-2-3 .slot-1-2-3, .slot-1-2-3-4 .slot-1, .slot-1-2-3-4 .slot-1-2, .slot-1-2-3-4 .slot-1-2-3, .slot-1-2-3-4 .slot-1-2-3-4, .slot-1-2-3-4-5 .slot-1, .slot-1-2-3-4-5 .slot-1-2, .slot-1-2-3-4-5 .slot-1-2-3, .slot-1-2-3-4-5 .slot-1-2-3-4, .slot-1-2-3-4-5 .slot-1-2-3-4-5, .slot-2 .slot-2, .slot-2-3 .slot-2, .slot-2-3 .slot-2-3, .slot-2-3-4 .slot-2, .slot-2-3-4 .slot-2-3, .slot-2-3-4 .slot-2-3-4, .slot-2-3-4-5 .slot-2, .slot-2-3-4-5 .slot-2-3, .slot-2-3-4-5 .slot-2-3-4, .slot-2-3-4-5 .slot-2-3-4-5, .slot-3 .slot-3, .slot-3-4 .slot-3, .slot-3-4 .slot-3-4, .slot-3-4-5 .slot-3, .slot-3-4-5 .slot-3-4, .slot-3-4-5 .slot-3-4-5, .slot-4 .slot-4, .slot-4-5 .slot-4, .slot-4-5 .slot-4-5, .slot-5 .slot-5, .slot-7 .slot-7, .slot-7-8 .slot-7, .slot-7-8 .slot-7-8, .slot-7-8-9 .slot-7, .slot-7-8-9 .slot-7-8, .slot-7-8-9 .slot-7-8-9, .slot-8 .slot-8, .slot-8-9 .slot-8, .slot-8-9 .slot-8-9 {
                margin-left:0 !important;
            } /* Important is to avoid repeating this in larger screen css files */
            /* Row Clearfix */
            .row:after {
                visibility:hidden;
                display:block;
                font-size:0;
                content:" ";
                clear:both;
                height:0;
            }
            .row {
                zoom:1;
            }
}
 @media screen and (min-width: 986px) {
/* include 986_grid  = media queries */ 
            /* Containers */
            body {
                font-size: 100%;
            }
            .grid {
                width:966px;
            }
            /* Slots Setup */
            .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-1-2, .slot-1-2-3, .slot-1-2-3-4, .slot-1-2-3-4-5, .slot-2-3, .slot-2-3-4, .slot-2-3-4-5, .slot-3-4, .slot-3-4-5, .slot-4-5, .slot-6, .slot-7, .slot-8, .slot-9, .slot-6-7, .slot-6-7-8, .slot-6-7-8-9, .slot-7-8, .slot-7-8-9, .slot-8-9 {
                display:inline;
                float:left;
                margin-left:30px;
            }
            /* 6-Col Grid Sizes */
            .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5 {
                width:136px;
            } /* Sixths */
            .slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5 {
                width:302px;
            } /* Thirds */
            .slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5 {
                width:634px;
            } /* Two-Thirds */
            .slot-0-1-2-3-4, .slot-1-2-3-4-5 {
                width:800px;
            } /* Five-Sixths */
            /* 4-Col Grid Sizes */
            .slot-6, .slot-7, .slot-8, .slot-9 {
                width:219px;
            } /* Quarters */
            .slot-6-7-8, .slot-7-8-9 {
                width:717px;
            } /* Three-Quarters */
            /* 6-Col/4-Col Shared Grid Sizes */
            .slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9 {
                width:468px;
            } /* Halves */
}
@media screen and (min-width: 1236px) {
            /* include 1236_grid  = media queries */
                        /* Containers */
            body {
                font-size: 1.125em;
            }
            .grid {
                width:1206px;
            }
            /* 6-Col Grid Sizes */
            .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5 {
                width:176px;
            } /* Sixths */
            .slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5 {
                width:382px;
            } /* Thirds */
            .slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5 {
                width:794px;
            } /* Two-Thirds */
            .slot-0-1-2-3-4, .slot-1-2-3-4-5 {
                width:1000px;
            } /* Five-Sixths */
            /* 4-Col Grid Sizes */
            .slot-6, .slot-7, .slot-8, .slot-9 {
                width:279px;
            } /* Quarters */
            .slot-6-7-8, .slot-7-8-9 {
                width:897px;
            } /* Three-Quarters */
            /* 6-Col/4-Col Shared Grid Sizes */
            .slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9 {
                width:588px;
            } /* Halves */
}
</style>
<script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Droid+Sans:400,700' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    </head>
    <body>    
    
 <div class="grid">
      <div class="example-grids">
        <div class="row">
          <div class="slot-0">
            <apex:image url="{!URLFOR($Resource.wall_css, 'images/thewall.png')}" alt="TheWall" /><br />
             <div id="navshadow"><a class="btn" href="/apex/CMSInternalRedirect?friendly_url=home">Home</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=marketing">Marketing</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=product_solutions">Ad Products</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=research">Research</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=sales_development">Sales Dev</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=app">APP</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=onboarding">Sales Training</a> 
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=allstars">News and Press</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=casestudies">Case Studies</a> <br />
             <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=audiences">Audiences</a> <a class="btn" href="https://na2.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F940000000GyXE">Media Schedule Builders: All Access Pass</a></div> <br />
              <br /><apex:image url="{!URLFOR($Resource.wall_css, 'images/hd_categories.png')}" alt="CATEGORIES" /> <br /> 
              <div id="navshadow"><a class="btn" href="/apex/CMSInternalRedirect?friendly_url=automotive">Automotive</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=alcohol">Alcohol</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=cpg">CPG</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=entertainment">Entertainment</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=financial_services">Finance/Ins.</a> <br />
               <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=local"> Local and Inside Sales – General </a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=local_east"> East Markets </a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=local_west"> West Markets </a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=local_central"> Central Markets </a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=mobile">Mobility</a> <br />
              <a class="btn disabled" href="/apex/CMSInternalRedirect?friendly_url=pharma">Pharma</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=political">Political</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=qsr">QSR</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=retail">Retail</a> <br />         
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=technology">Technology</a> <br />
              <a class="btn" href="/apex/CMSInternalRedirect?friendly_url=travel">Travel Leisure</a></div> <br />
            <br />
          </div>
          <!-- end .slot-0 -->
          
          <div class="slot-1-2-3">
            <div id="shadowed"><c:contentblock name="newpharma" /></div>
              <div class="slot-1-2-3">
             <div id="shadowed"><c:contentblock name="eventspharma" /></div>
             </div>
            <div class="row">
              <div class="slot-1-2-3">
                
                <div class="row">
                  <div class="slot-1-2-3">
                    <div id="shadowed"><c:contentblock name="researchpharma" /></div>
                    <div id="shadowed"><c:contentblock name="researchpharma2" /></div>
                    <div id="shadowed"><c:contentblock name="researchpharma3" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end .slot-1-2-3 -->
          
          <div class="slot-4-5">
            <div id="shadowed"><c:contentblock name="presentpharma" /></div>
            <div class="row">
              <div class="slot-4-5">
                <div id="shadowed"><c:contentblock name="casestudypharma" /></div>
                <div id="shadowed"><c:contentblock name="industrypharma" /></div>
                 <div id="shadowed"><c:contentblock name="add_newboxpharma" /></div>
                 <div id="shadowed"><c:contentblock name="add_newboxpharma2" /></div>
                 <div id="shadowed"><c:contentblock name="add_newboxpharma3" /></div>
              </div>
            </div>
          </div>
          <!-- end .slot-5 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- / .example-grids -->
      <div class="row footer">
        <p>&copy; <a href="/apex/CMSInternalRedirect?friendly_url=home">The Wall</a></p>
      </div>
    </div>
    <!-- / .grid -->  
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28556945-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
</apex:page>