.THIS .vContactSupport 
{
    width: 100%;
}
.THIS .container-form
{
    float: left;
    /*width: 50%;*/
    margin-top: 50px;
}
.THIS .container-deflection
{
    float: left;
    /*width: 50%;*/
    margin-top: 50px;
    padding-left: 50px;
}
.THIS .clear
{
    clear:both;
}
.THIS .vContactSupport-block 
{
    display: inline-flex;
    margin: 0px 35px;
    width: 100%;
}
.THIS .vContactSupport-title
{
    text-transform: capitalize;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: Helvetica;
}
.THIS .vContactSupport-subtitle
{
    text-align: center;
    font-weight: 300;
}
.THIS .vContactSupport-body
{
        
}
.THIS .pageError
{
    margin: 10px 0px;
}
.THIS .vContactSupport-articleListContainer
{
    
}
.THIS .vContactSupport-articleListContainer h2
{
    margin: 10px 10px;
}
.THIS .vContactSupport-articleListContainer li
{
    border-bottom: 1px solid #d4d4d4;
}
.THIS ul.vContactSupport-articles a, .THIS ul.vContactSupport-articles a:hover, .THIS ul.vContactSupport-articles a:link, .THIS ul.vContactSupport-articles a:visited
{
    display: block;
    padding: 14px;
    color: #333;
    text-decoration: none;
}
.THIS ul.vArticle-items
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.THIS ul.vArticle-items li
{
    margin: 15px 5px;
}
.THIS .vformLabel
{
    margin: 15px 0 10px 0px;
    font-size: 1em;
}
.THIS .vformButton
{
    margin: 15px 0px;
    padding: 5px 25px;
    width: 100%;
    color: #fff !important;
}
.THIS .err
{
    display: none;
    margin: 10px 0px;
    color: #c23934;
}
.THIS .vContactSupport-completed
{
    margin: 10px 0px;
}