<apex:component controller="ACRDisplayArtistCtrl">
	
	<script type="text/javascript">
    onload = function() {
        onArtistLoad('{!accountId}');
    }
	</script>
	<link rel="stylesheet" href="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.treeview.css')}"/>    
  <script src="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.js')}" type="text/javascript"></script>     
  <script src="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.cookie.js')}" type="text/javascript"></script>     
  <script src="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.treeview.js')}" type="text/javascript"></script>
 
  <script type="text/javascript">         
  $(function() 
  {             
  $("#tree").treeview({                 
  collapsed: false,                 
  animated: "medium",                 
  control:"#sidetreecontrol",                 
  persist: "location"            
  });          }) 
  </script>  
  
  <!-- Tree --> 
  	
  	<!--script type="text/javascript">         
  	$(function() {             
  		$("#tree").treeview({                 
  			collapsed: false,                 
  			animated: "medium",                 
  			control:"#sidetreecontrol",                 
  			persist: "location"            
  		});
  	}) 
  </script>  
  <script type="text/javascript">
		$(function() {
			$("#browser").treeview();
			$("#add").click(function() {
				var branches = $("<li><span class='folder'>New Sublist</span><ul>" +
					"<li><span class='file'>Item1</span></li>" +
					"<li><span class='file'>Item2</span></li></ul></li>").appendTo("#browser");
				$("#browser").treeview({
					add: branches
				});
				branches = $("<li class='closed'><span class='folder'>New Sublist</span><ul><li><span class='file'>Item1</span></li><li><span class='file'>Item2</span></li></ul></li>").prependTo("#folder21");
				$("#browser").treeview({
					add: branches
				});
			});
			$("#browser").bind("contextmenu", function(event) {
				if ($(event.target).is("li") || $(event.target).parents("li").length) {
					$("#browser").treeview({
						remove: $(event.target).parents("li").filter(":first")
					});
					return false;
				}
			});
		})
	</script-->
	<apex:attribute name="currentAcctId" assignTo="{!accountId}" type="String" required="true" description="pass current accountId"/>
	<apex:attribute name="currentAcctType" assignTo="{!accountType}" type="String" required="true" description="pass current account type"/>
	acrWrapper: {!acrWrapper}
	<apex:form >
		<apex:actionFunction action="{!artistLoad}" name="onArtistLoad"
							 rerender="artistDisplayId">
			<apex:param name="currentAcctId" value="0012200000FQGME" />
		</apex:actionFunction>

		<apex:pageBlock >
		<apex:pageBlockSection columns="1" 
			title="Account's Hirearchy with related Contacts">
		<apex:outputPanel id="artistDisplayId">
		<div id="treeheader" style="height:0px;">&nbsp;</div> 
  		<div id="sidetreecontrol"> 
  			<a href="?#"><font style="color:blue;">Collapse All</font></a> | 
  			<a href="?#"><font style="color:blue;">Expand All</font></a>
  		</div>
  		<ul id="tree"> 
	    	<li>
	    	<strong><span class="formattextcon">
	    			<apex:outputText escape="false"
	    				value="{!acrWrapper.parentSublabelAcct.Name}"/>
	    			</span>
	    	</strong>
	    	<ul><li><strong>
	    			<span class="formattextcon">
	    			<apex:outputText escape="false" 
	    					value="{!acrWrapper.parentLabelAcct.Name}"/>
	    			</span>
	    			</strong>
	    		</li>
	    		<ul>
		    	<apex:repeat value="{!acrWrapper.artistAccounts}" var="artist">
		    		<apex:variable var="acctId" value="{!artist.Id}"/>

		    		<li><strong>
		    				<span class="formattextcon">
		    				<apex:outputText value="{!artist.Name}"/>
		    				</span>
		    			</strong>
		    			<ul>
						<apex:repeat value="{!acrWrapper.acctIdAcctContRelMap}" 
										var="aId">
							<apex:outputPanel id="contactsList" 
								rendered="{!IF(acctId == aId,true,false)}">
							<apex:repeat value="{!acrWrapper.acctIdAcctContRelMap[aId]}" 
								var="cont">
								<apex:variable var="artistContactAcctId" 
												value="{!cont.Contact.AccountId}"/>
								<apex:outputPanel rendered="{!IF(acctId == artistContactAcctId, false,true)}">
									<li><span class="formattextcon">
										<strong>
										<apex:outputText value="{!cont.Contact.Name}, {!cont.Contact.Role__c} | {!cont.Contact.Account.Name}"/></strong>
									</span>
									</li>
								</apex:outputPanel>
							</apex:repeat>
							</apex:outputPanel>
						</apex:repeat>
						</ul>
					</li>
		    	</apex:repeat>
		    	</ul></ul></li></ul>
		<!--/div-->
	    </apex:outputPanel>
    </apex:pageBlockSection>
    </apex:pageBlock>
	</apex:form>
</apex:component>