<apex:component controller="OPT_SALES_INVOICE_EMAIL_Class" access="global">
<style>
table, th, td {
    border: 1px solid #D4E0EE;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #555;
}


td, th {
    padding: 4px;
}

.headerClass {
    text-align: center;
    background: #E6EDF5;
    color: #4F76A3;
    font-size: 100% !important;
    font-weight: bold;
}

#tablyBodyID tr { background: #FCFDFE; }

#tablyBodyID tr.odd { background: #F7F9FC; }

</style>
<apex:attribute name="OpportunityOwnerId" description="This is the Opportunity Owner Id." type="Id" assignTo="{!OpportunityOwnerId}"/>
<table id="salesInvoiceTable">
    <thead>
        <tr>
            <th class="headerClass">Account</th>
            <th class="headerClass">Advertiser Name</th>
            <th class="headerClass">Invoice Number</th>
            <th class="headerClass">Payment Terms</th>
            <th class="headerClass">Opportunity Name</th>
            <th class="headerClass">Outstanding Balance</th>
        </tr>
    </thead>
    <tbody id="tablyBodyID">
    <apex:repeat value="{!GroupedResult}" var="mos">
        <tr bgcolor="Pink">
            <td colspan="5" > 
                <strong>Age Category: </strong>{!mos.GroupBy1}({!mos.Count} Records)
            </td>
            <td>
                <strong>Total Balance:{!mos.Sum}</strong><br/>
            </td>
        </tr>
        <apex:repeat value="{!listSalesInvoice}" var="si">
        <apex:outputPanel rendered="{!si.Aged_Category_120__c == mos.GroupBy1}">
        <tr>
        
            <td>
             {!si.Aged_Category_120__c}
            </td>
            
            <td>
             {!si.c2g__Account__r.Name}
            </td>
        
            <td>
             {!si.Advertiser__r.Name}
            </td>
        
            <td>
             <apex:outputLink value="/{!si}">{!si.Name}</apex:outputLink>
            </td>
        
            <td>
             {!si.Billing_Terms__c}
            </td>
        
        
            <td>
             <apex:outputLink value="/{!si.c2g__Opportunity__c}">{!si.c2g__Opportunity__r.Name}</apex:outputLink>
            </td>
        
            <td>
             {!si.c2g__OutstandingValue__c}
            </td>
        </tr>
        </apex:outputPanel>
        </apex:repeat>
    </apex:repeat>
    </tbody>
</table>
<apex:outputLink value="https://na2.salesforce.com/00O40000002fKTy">Invoice Aging Report</apex:outputLink>
</apex:component>