<apex:component access="global" controller="PrePaymentCompCtrlr">
    
     <apex:attribute access="global" name="IOApprovalIdAttr" type="String" description="IO Approval id for which data is to be displayed." assignTo="{!IOApprovalId}"/>

    <div >
        
         <table cellpadding="3" cellspacing="2" style="border: thin solid #FFFFFF; font-size: 16px; font-family: 'trebuchet MS';">
           <thead>
              <tr>
                 <th scope="col" style="background-color: #b9c9fe; color: #039; font-weight: bold;">
                    <div class="slds-truncate" title="End Date">Pandora Order ID</div>

                 </th>
                 <th scope="col" style="background-color: #b9c9fe; color: #039; font-weight: bold;">
                    <div class="slds-truncate" title="Quantity">Next Payment Due Date</div>                    
                 </th>
                  <th scope="col" style="background-color: #b9c9fe; color: #039; font-weight: bold;">
                    <div class="slds-truncate" title="Start Date">Payment Amount Due</div>                    
                 </th>
              </tr>
           </thead>
           <tbody  id="AddProductsBodyId">
               
               <apex:repeat value="{!juncObjLst}" var="juncObjVar" > 
                   
                   <tr  >
                     
                     <th style="background-color: #e8edff; color: #669;text-align: right" scope="row" data-label="slingshotid">
                        <div class="slds-truncate" title="slingshotid">
                           <apex:outputText value="{!juncObjVar.IO_Approval__r.Opportunity__r.Slingshot_Order_ID__c}"/>
                        </div>
                     </th>
                                    
                     <th style="background-color: #e8edff; color: #669;text-align: right" scope="row" data-label="scheduledpaymentdate">
                        <div class="slds-truncate" title="scheduledpaymentdate">
                           <apex:outputText value="{0,date,MM'/'dd'/'yyyy}"> 
                               <apex:param value="{!juncObjVar.Scheduled_Payment_Date__c}" />
                            </apex:outputText>                       
                        </div>
                     </th>

                     <th style="background-color: #e8edff; color: #669;text-align: right" scope="row" data-label="paymentamount">
                        <div class="slds-truncate" title="paymentamount">
                            <apex:outputText value="${0, number, ###,##0.00}">
                                <apex:param value="{!juncObjVar.Scheduled_Payment_Amount__c}" />
                            </apex:outputText>                                          
                        </div>
                     </th>
                  </tr>                
               </apex:repeat>               
               <tr>                     
                 <th style="background-color: #e8edff; color: #333;text-align: right" scope="row" >
                    <div class="slds-truncate" title="slingshotid">
                       
                    </div>
                 </th>
                                
                 <th style="background-color: #e6f50c; color: #333;text-align: right" scope="row" >
                    <div class="slds-truncate" title="scheduledpaymentdate">
                        Total Campaign Amount Remaining
                    </div>
                 </th>

                 <th style="background-color: #e6f50c; color: #333;text-align: right" scope="row" >
                    <div class="slds-truncate" title="paymentamount">
                        <apex:outputText value="${0, number, ###,##0.00}">
                            <apex:param value="{!amountRemaining }" />
                        </apex:outputText> 
                    </div>
                 </th>
               </tr>                
           </tbody>
         </table>  
    </div>
    
</apex:component>