.THIS .vArticle 
{
    margin-left: 250px;

}
.THIS .vArticle-block 
{
    /*.display: inline-flex;*
    display: inline-block;*/
    margin: 0px 35px;
}
.THIS .vArticle-title
{
    
}
.THIS .vArticle-body
{
        
}
.THIS .vArticle-breadcrumb
{
    display:inline-flex;
}
.THIS .vArticle-breadcrumb ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vArticle-breadcrumb li
{
    margin: 10px 0px;
    padding-left: 30px;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .vArticle-breadcrumb li.firstnode
{
    padding-left: 0px;
    background: none;
}
.THIS .vArticle-breadcrumb, .THIS .vArticle-breadcrumb a, .THIS .vArticle-breadcrumb a:hover, .THIS .vArticle-breadcrumb a:visited
{
    color: #999;
    text-decoration: none;
}
.THIS .vArticle-breadcrumb a:hover
{
    color: #666;
}
.THIS ul.vArticle-items
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.THIS ul.vArticle-items li
{
    margin: 15px 0px;
}
.THIS ul.vArticle-items .vArticle-item-title
{
    padding-left: 40px;
    font-weight: bold;
    cursor: pointer;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat ;
    background-size: 20px 20px;
    background-position: 18em 0px;
    /*background-origin: content-box;*/
}
.THIS ul.vArticle-items .vArticle-item-title-on
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrdown.png') no-repeat;
    background-size: 20px 20px;
    background-position: 18em 0px;
    
}
.THIS .arrright 
{

}
.THIS ul.vArticle-items .vArticle-item-desc
{
    padding: 15px 0px 15px 40px;
    display: none;
}
@media (max-width: 768px)
{
    .THIS .vArticle 
    {
        margin-left: 0px;
    }
}