.THIS .vContactSupport 
{
    margin-left: 250px;
}
.THIS .vContactSupport-block 
{
    display: inline-flex;
    margin: 0px 35px;
}
.THIS .vContactSupport-title
{
    
}
.THIS .vContactSupport-body
{
        
}
.THIS .vContactSupport-breadcrumb
{
    
}
.THIS .vContactSupport-breadcrumb ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vContactSupport-breadcrumb li
{
    margin: 10px 0px;
    padding-left: 30px;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .vContactSupport-breadcrumb li.firstnode
{
    padding-left: 0px;
    background: none;
}
.THIS .vContactSupport-breadcrumb, .THIS .vContactSupport-breadcrumb a, .THIS .vContactSupport-breadcrumb a:hover, .THIS .vContactSupport-breadcrumb a:visited
{
    color: #999;
    text-decoration: none;
}
.THIS .vContactSupport-breadcrumb a:hover
{
    color: #666;
}
.THIS .pageError
{
    margin: 10px 0px;
}
.THIS .vContactSupport-articleListContainer
{
    border-radius: 5px;
    background: #eee;
    padding: 15px;
    margin-top: 5px;
}
.THIS .vContactSupport-articleListContainer h2
{
    margin: 10px 10px;
}
.THIS .vContactSupport-articleListContainer li
{
    padding: 5px 20px;
}
.THIS ul.vArticle-items
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.THIS ul.vArticleList-items a, .THIS ul.vArticleList-items a:hover, .THIS ul.vArticleList-items a:link, .THIS ul.vArticleList-items a:visited
{
    color: #666;
}
.THIS ul.vArticle-items li
{
    margin: 15px 5px;
}
.THIS ul.vArticle-items .vArticle-item-title
{
    padding-left: 40px;
    font-weight: bold;
    cursor: pointer;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS ul.vArticle-items .vArticle-item-title-on
{
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrdown.png') no-repeat;
    background-size: 20px 20px;
}
.THIS ul.vArticle-items .vArticle-item-desc
{
    padding: 15px 0px 15px 40px;
    display: none;
}
.THIS .vformLabel
{
    margin: 15px 0 10px 0px;
    font-size: 1em;
}
.THIS .vformButton
{
    margin: 15px 0px;
    padding: 5px 25px;
    color: #fff !important;
}
.THIS .err
{
    display: none;
    margin: 10px 0px;
    color: #c23934;
}
.THIS .vContactSupport-completed
{
    margin: 10px 0px;
}
@media (max-width: 768px)
{
    .THIS .vContactSupport 
    {
        margin-left: 0px;
    }
}