.THIS .slds-input {
	width:auto;
}
.THIS .selectValueCSS {
    width:100%;
}
.THIS.dateopenIcon {
	position: absolute;
    left: 50%;
    top: 55%;
}
.THIS .requiredDIV {
	color:rgb(194,57,52);
	float:right;
	font-weight:700;
}
.THIS .labelDIV {
	width:100%;
	text-align:right;
}
 .THIS .errorHighlig {
    background-color: rgb(194,57,52);
    border: 3px solid rgb(194,57,52);
    border-radius: 5px;    
}
 .THIS .errorDateHighlig {
    border: 3px solid rgb(194,57,52);
    border-radius: 5px;    
}