.THIS .vArticleList
{
    margin-left: 250px;
    align: center;
}
.THIS .vArticleList-block 
{
    display: inline-flex;
    margin: 0px 35px;
}
.THIS .vArticleList-title
{
    
}
.THIS .vArticleList-body
{
        
}
.THIS .vArticleList-breadcrumb
{
    
}
.THIS .vArticleList-breadcrumb ul
{
    display: flex;
  	flex-wrap: wrap;
}
.THIS .vArticleList-breadcrumb li
{
    margin: 10px 0px;
    padding-left: 30px;
    background: url('/support/resource/vCommunitySupport/img/icon/nav_arrright.png') no-repeat;
    background-size: 20px 20px;
}
.THIS .vArticleList-breadcrumb li.firstnode
{
    padding-left: 0px;
    background: none;
}
.THIS .vArticleList-breadcrumb, .THIS .vArticleList-breadcrumb a, .THIS .vArticleList-breadcrumb a:hover, .THIS .vArticleList-breadcrumb a:visited
{
    color: #999;
    text-decoration: none;
}
.THIS .vArticleList-breadcrumb a:hover
{
    color: #666;
}
.THIS .vArticleList-block 
{
    display: inline-flex;
    margin-left: 35px;
}
.THIS ul.vArticleList-items li
{
    margin: 15px 5px;
}
.THIS .vArticleList-noarticles 
{
    margin: 10px 0px;
}
@media (max-width: 768px)
{
    .THIS .vArticleList
    {
        margin-left: 0px;
    }
}