.THIS .contact-title
{
	color: rgb(102, 102, 102) !important;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
}
.THIS .contact-block 
{
    display: inline-flex;
    margin: 0px 35px;
}
.THIS .contactBody, .THIS .contactBody a, .THIS .contactBody a:hover, .THIS .contactBody a:visited
{
    display: flex;
    clear: both;
    font-size: 1.25em;
	font-weight: bold;
    color: rgb(33, 64, 154) !important;
    /*font-weight: bold;*/
}